// Alerts
//
// Alerts are handy elements you can drop into a form or inline on a page to communicate success, warnings, failure or just information. They'll conform to 100% of the container width you put them in.
//
// Styleguide 2.0

// Options
//
// You can add more classes to your alert box to change its appearance - `.alert--info`, `.alert--success`, `.alert--warning `, or `.alert--danger`
//
// .alert--info      - Used as an alternative to the default styles.
// .alert--success   - Indicates a successful or positive action.
// .alert--warning   - Indicates caution should be taken with this action.
// .alert--danger    - Indicates a dangerous or potentially negative action.
//
// Markup:
// <div class="alert {$modifiers}">This is an alert message with a <a href="#">link</a></div>
//
// Styleguide 2.1

// Core

.alert {
	background-color:#fff7bf;
	color:$grey;
	display:block;
	font-family:$secondary-font;
	font-size:rem(18px);
	margin-bottom:lh(1);
	padding:lh(1) lh(1.66);
	a {
		border-bottom:1px solid $grey;
		border-color:inherit;
		color:inherit;
		&:hover {
			border-bottom:1px solid transparent;
			color:inherit;
			text-decoration:none;
			}

		}
		
	}
	
		
.alert--info {
    background-color:$blue-tint;
	color:$bright-blue;
	}
	
.alert--success {
    background-color:tint($green, 75%);
	color:$dark-green;
	}
	
.alert--warning {
    background-color:tint($orange, 75%);
	color:$dark-orange;
	}
	
.alert--danger {
    background-color:tint($dark-red, 75%);
	color:$dark-red;
	}