// Buttons
//
// Button styles can be applied to anything with the `.btn` class applied.
// However, typically you'll want to apply these to only `<a>` and `<button>` elements for the best rendering.
//
// Styleguide 4.0


// Base styles & states
//
// :hover       - Hover state.
// :active      - Active state.
// .disabled    - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead.
//
// Markup:
// <a class="btn {$modifiers}">Button</a>
// <button type="submit" class="btn {$modifiers}">Button</button>
//
// Styleguide 4.1


// Sizing
//
// Fancy larger or smaller buttons?
// Add `.btn--large`, `.btn--small`, or `.btn--mini` for additional sizes.
//
// .btn--large - Large button.
// .btn--small - Small button.
// .btn--mini - Mini button.
// .btn--block - Block level button.
//
// Markup:
// <button type="submit" class="btn btn-primary {$modifiers}">Button</button>
// <button type="submit" class="btn {$modifiers}">Button</button>
//
// Styleguide 4.2


// Skins
//
// Ads an additonal modifier class to style button
//
// .btn--primary   - Provides extra visual weight and identifies the primary action in a set of buttons.
// .btn--info      - Used as an alternative to the default styles.
// .btn--success   - Indicates a successful or positive action.
// .btn--warning   - Indicates caution should be taken with this action.
// .btn--danger    - Indicates a dangerous or potentially negative action.
// .btn--link      - Deemphasize a button by making it look like a link while maintaining button behavior.
// .btn--dark-blue   - Brand basics Dark blue 
// .btn--bright-blue  - Brand basics Light blue
// .btn--yellow   - Brand basics Yellow
// .btn--orange   - Brand basics Orange
// .btn--grey - Brand basics Grey 
// .btn--blue-tint  - Brand basics Blue tint 
//
// Markup:
// <a href="#" class="btn {$modifiers}">Button</a>
// <button type="submit" class="btn {$modifiers}">Button</button>
//
// Styleguide 4.3


// Icon Buttons
//
// Add an icon for added visual emphasis or clarity of purpose
//
// .btn--large - Large.
// .btn--small - Small
// .btn--mini - Mini
// .btn--block - Block
// .btn--primary - Primary
// .btn--info - Info
// .btn--success - Success
// .btn--warning - Warning
// .btn--danger - Danger
// .btn--dark-blue - Dark-blue
// .btn--bright-blue - bright-blue
// .btn--yellow - Yellow
// .btn--orange - Orange
// .btn--grey - Grey
// .btn--blue-tint - Blue-tint
//
// Markup:
//<div>
//	<a href="#" class="btn {$modifiers} btn--icon">Icon Button <i class="icon icon-angle-right"></i></a>
//</div>
//
// Styleguide 4.4


// Button Groups
//
// Use the `.btn-group` class on a `<div>` element surrounding several `<a>` elements with class `.btn`.
//
// Markup:
//<div class="btn-group">
//	<a href="#" class="btn">Button Link</a>
//	<a class="btn">Button Link</a>
//	<a class="btn">Button Link</a>
//</div>
//
// Styleguide 4.5
	
.btn {
	@include border-radius(2px);
	background-color:$light-grey-1;
	border:1px solid darken($light-grey-1, 10%);
	color: $dark-grey-2;
	cursor: pointer;
	display: inline-block;
	font-family:$secondary-font;
	font-size:rem(16px);
	font-weight:normal;
	height:rem(48px);
	line-height:rem(48px);
	margin:0 0 lh(1) 0;
	outline: none;
	padding: 0 lh(1.33);
	position: relative;
	text-decoration: none;
	
	@include respond-min($large) {
		-webkit-transition: background-color 0.25s ease-in-out;
		-moz-transition: background-color 0.25s ease-in-out;
		-o-transition: background-color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out; 
		}	
	// Hover/focus state
	&:hover,
	&:focus {
		background-color:darken($light-grey-2, 5%);
		color: $dark-grey-3;
		text-decoration:none !important;
		}
	
	&:visited {
		color: $dark-grey-2;
		}

	// Active state
	&.active,
	&:active {
		background-color:darken($light-grey-1, 20%);
		color: $dark-grey-3;
		}	
		
	}

	// Should you require an btn--icon
.btn--icon {
	padding-left:lh(.75);
	padding-right:rem(48px);
	.icon {
		color:$dark-grey-1;
		color:$dark-blue;
		font-size:rem(16px);
		line-height:rem(48px);
		padding-left:rem(8px);
		padding-right:rem(8px);
		}
	}	
	
.btn--large {
	height:rem(64px);
	font-size:rem(32px);
	line-height:rem(64px);
	&.btn--icon {
		padding-right:rem(96px);
		}		
	.icon {
		font-size:rem(32px);
		line-height:rem(64px);
		padding-left:rem(16px);
		padding-right:rem(16px);
		}
	}

.btn--small {
	height:rem(36px);
	font-size:rem(13px);
	line-height:rem(32px);
	padding: 0 lh(.66);
	
	&.btn--icon {
		padding-right:rem(39px);
		}
		
	.icon {
		font-size:rem(13px);
		line-height:rem(36px);
		padding-left:rem(6px);
		padding-right:rem(6px);
		}
		
	}


.btn--mini {
	height:rem(22px);
	font-size:rem(11px);
	line-height:rem(22px);
	padding: 0 lh(.33);
	&.btn--icon {
		padding-right:rem(33px);
		}
	.icon {
		font-size:rem(11px);
		line-height:rem(22px);
		padding-left:rem(5px);
		padding-right:rem(5px);
		}
	}
	
	
// Block button
// -------------------------

.btn--block {
	display:block;
	width:100%;
	}
	
// Vertically space out multiple block buttons
.btn--block + .btn--block {
	margin-top: lh(.5);
	}
	

.btn--primary {
	background-color:$bright-blue;
	border-color:shade($bright-blue, 25%);
	color:#fff;

	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:tint($bright-blue, 25%);
		color:#fff;
		}
		
	&:visited {
		color:#fff;
		}
		
	}

// Warning appears are orange
.btn--warning {
	background-color:$warning-color;
	border-color:shade($warning-color, 25%);
	color:#222;
	&:visited {
		color:#333;
		}
		
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:tint($warning-color, 25%);
		color:#222;
		}
		
	&:visited {
		color:#222;
		}
	}

// Danger and error appear as red
.btn--danger {
	background-color:$danger-color;
	border-color:shade($danger-color, 25%);
	color:#fff;
	
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:tint($danger-color, 25%);
		color:#fff;
		}
		
	&:visited {
		color:#fff;
		}
		
	}
	
	
// Success appears as green
.btn--success {
	background-color:shade($success-color, 25%);
	border-color:shade($success-color, 50%);
	color:#fff;
	
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:$success-color;
		color:#fff;
		}
		
	&:visited {
		color:#fff;
		}
		
	}
	
// Info appears as a neutral blue
.btn--info {
	background-color:$info-color;
	border-color:shade($info-color, 25%);
	color:$dark-blue;
	
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:tint($info-color, 25%);
		color:$dark-blue;
		}
		
	&:visited {
		color:$dark-blue;
		}
	}

	
.btn--link {
	background-color:transparent;
	border-color:transparent;
	color:$dark-blue;
	
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:transparent;
		color:$bright-blue;
		}
	&:visited {
		color:$bright-blue;
		}
		
	}
	

.btn--dark-blue {
	background-color:$dark-blue;
	border-color:shade($dark-blue, 25%);
	color:#fff;
	
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:tint($dark-blue, 25%);
		color:#fff;
		}
		
	&:visited {
		color:#fff !important;
		}
	.icon {
		color:#fff;
		}
	}
	
.btn--bright-blue {
	background-color:$bright-blue;
	border-color:shade($bright-blue, 25%);
	color:#fff;
	
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:tint($bright-blue, 25%);
		color:#fff;
		}
		
	&:visited {
		color:#fff;
		}
		
	}
	
.btn--yellow {
	background-color:$yellow;
	border-color:shade($yellow, 25%);
	color:#222;
	
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:tint($yellow, 25%);
		color:#222;
		}
		
	&:visited, 
	&.btn--icon .icon {
		color:#222;
		}
		
	}	
	
.btn--orange {
	background-color:$orange;
	border-color:shade($orange, 25%);
	color:#222;
	
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:tint($orange, 25%);
		color:#222;
		}
		
	&:visited {
		color:#222;
		}
	}
	
.btn--grey {
	background-color:$grey;
	border-color:shade($grey, 25%);
	color:#fff;
	
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:tint($grey, 25%);
		color:#fff;
		}
		
	&:visited {
		color:#fff;
		}
	}
	
.btn--blue-tint {
	background-color:$blue-tint;
	border-color:shade($blue-tint, 25%);
	color:$dark-blue;	
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:tint($blue-tint, 25%);
		color:#fff;
		}
	&:visited,
	.icon {
		color:$dark-blue;
		}	
	}

.btn--white {
	background-color:#fff;
	border-color:tint($dark-blue, 50%);
	color:$dark-blue;	
	&:hover,
	&:focus,
	&.active,
	&:active {
		background-color:#fff;
		color:tint($dark-blue, 25%);
		}
	&:visited,
	.icon {
		color:$bright-blue;
		}
	&.btn--icon .icon {
		background-color:#fff;
		&:before {
			color:$bright-blue;
		}
		}		
	}
	
	
.btn--icon {
	padding-right:rem(42px);
	position:relative;
	.icon {
		background-color: rgba(0,0,0,0.15);
		background-color: rgba(0,0,0,0.05);
		color:#fff;
		height:100%;
		right:0;
		position:absolute;
		top:0;
		z-index:1;
		}
	}


			
.btn-group {
    @include clearfix();
	list-style: none outside none;
	.btn {
		@include border-radius(0);
		display:block;
		margin-right:-1px;
		}

	.active .btn {
		background-color:darken($light-grey-1, 20%);
		color: $dark-grey-3;
		}
		
	}
	
	
.btn-group > * {
    float: left;
   	margin: 0 0 0 -1px;
	}
	
.btn-group > *:first-child {
    margin-left: 0;
	}
	
