// Colour
//
// Styleguide 5.0

// Standard Life colours
//
// Colour any object with branding basics colours
//
//
//<div class="row text--center dark-blue push--bottom items-container">
//  <div class="col small_6 medium_4 xlarge_2 item">
//    <div class="primary-font-bold white bg-dark-blue circle circle--large col--centered">Dark blue</div>
//    <div class="gamma">
//      <strong>Hex</strong> 0a2f73 <br />
//      <strong>CSS</strong> .dark-blue, bg-dark-blue
//    </div>
//  </div>
//  <div class="col small_6 medium_4 xlarge_2 item">
//    <div class="primary-font-bold white bg-bright-blue circle circle--large col--centered">Bright blue</div>
//    <div class="gamma">
//      <strong>Hex</strong> 007bc3 <br />
//      <strong>CSS</strong> .bright-blue, bg-bright-blue
//    </div>
//  </div>
//  <div class="col small_6 medium_4 xlarge_2 item">
//    <div class="primary-font-bold dark-blue bg-yellow circle circle--large col--centered">Yellow</div>
//    <div class="gamma">
//      <strong>Hex</strong> ffdd00 <br />
//      <strong>CSS</strong> .yellow, bg-yellow
//    </div>
//  </div>
//  <div class="col small_6 medium_4 xlarge_2 item">
//    <div class="primary-font-bold white bg-orange circle circle--large col--centered">Orange</div>
//    <div class="gamma">
//      <strong>Hex</strong> ff8a00 <br />
//      <strong>CSS</strong> .orange, bg-orange
//    </div>
//  </div>
//  <div class="col small_6 medium_4 xlarge_2 item">
//    <div class="primary-font-bold white bg-grey circle circle--large col--centered">Grey</div>
//    <div class="gamma">
//      <strong>Hex</strong> 4b4b4b <br />
//      <strong>CSS</strong> .grey, bg-grey
//    </div>
//  </div>
//  <div class="col small_6 medium_4 xlarge_2 item">
//    <div class="primary-font-bold dark-blue bg-blue-tint circle circle--large col--centered">Blue tint</div>
//    <div class="gamma">
//      <strong>Hex</strong> e0edfe <br />
//      <strong>CSS</strong> .blue-tint, .bg-blue-tint
//    </div>
//  </div>
//</div>
//<span class="gamma">Grey is only for body copy online, drop shadows,instances where we need to convey the disabled status of links/buttons and for progress bars. It can’t be used for any other elements.</span>
//
// Styleguide 5.1


// Chart for % tint values
//
// Always lead with 100% block colour followed by 75% tint or less for tonal contrast when needed. After 75%/50% tint, some colours do not look like SL brand colours and may not be approved.
//
//<div class="row">
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Dark blue</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-dark-blue">&nbsp;</div></td><td>100%</td><td>0a2f73</td><td>.dark-blue</td></tr>
//        <tr><td><div class="circle bg-dark-blue--75">&nbsp;</div></td><td>75%</td><td>476396</td><td>.dark-blue--75</td></tr>
//        <tr><td><div class="circle bg-dark-blue--50">&nbsp;</div></td><td>50%</td><td>8497b9</td><td>.dark-blue--50</td></tr>
//        <tr><td><div class="circle bg-dark-blue--25">&nbsp;</div></td><td>25%</td><td>c1cbdc</td><td>.dark-blue--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Bright blue</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-bright-blue">&nbsp;</div></td><td>100%</td><td>007bc3</td><td>.bright-blue</td></tr>
//        <tr><td><div class="circle bg-bright-blue--75">&nbsp;</div></td><td>75%</td><td>3f9cd2</td><td>.bright-blue--75</td></tr>
//        <tr><td><div class="circle bg-bright-blue--50">&nbsp;</div></td><td>50%</td><td>7fbde1</td><td>.bright-blue--50</td></tr>
//        <tr><td><div class="circle bg-bright-blue--25">&nbsp;</div></td><td>25%</td><td>bfdef0</td><td>.bright-blue--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Yellow</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-yellow">&nbsp;</div></td><td>100%</td><td>ffdd00</td><td>.yellow</td></tr>
//        <tr><td><div class="circle bg-yellow--75">&nbsp;</div></td><td>75%</td><td>ffe53f</td><td>.yellow--75</td></tr>
//        <tr><td><div class="circle bg-yellow--50">&nbsp;</div></td><td>50%</td><td>ffee7f</td><td>.yellow--50</td></tr>
//        <tr><td><div class="circle bg-yellow--25">&nbsp;</div></td><td>25%</td><td>fff6bf</td><td>.yellow--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Orange</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-orange">&nbsp;</div></td><td>100%</td><td>ff8a00</td><td>.orange</td></tr>
//        <tr><td><div class="circle bg-orange--75">&nbsp;</div></td><td>75%</td><td>ffa73f</td><td>.orange--75</td></tr>
//        <tr><td><div class="circle bg-orange--50">&nbsp;</div></td><td>50%</td><td>ffc47f</td><td>.orange--50</td></tr>
//        <tr><td><div class="circle bg-orange--25">&nbsp;</div></td><td>25%</td><td>ffe1bf</td><td>.orange--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Grey</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-grey">&nbsp;</div></td><td>100%</td><td>4b4b4b</td><td>.grey</td></tr>
//        <tr><td><div class="circle bg-grey--75">&nbsp;</div></td><td>75%</td><td>787878</td><td>.grey--75</td></tr>
//        <tr><td><div class="circle bg-grey--50">&nbsp;</div></td><td>50%</td><td>a5a5a5</td><td>.grey--50</td></tr>
//        <tr><td><div class="circle bg-grey--25">&nbsp;</div></td><td>25%</td><td>d2d2d2</td><td>.grey--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Blue tint</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-blue-tint">&nbsp;</div></td><td>100%</td><td>e0edfe</td><td>.blue-tint</td></tr>
//        <tr><td><div class="circle bg-blue-tint--75">&nbsp;</div></td><td>75%</td><td>e7f1fe</td><td>.blue-tint--75</td></tr>
//        <tr><td><div class="circle bg-blue-tint--50">&nbsp;</div></td><td>50%</td><td>eff6fe</td><td>.blue-tint--50</td></tr>
//        <tr><td><div class="circle bg-blue-tint--25">&nbsp;</div></td><td>25%</td><td>f7fafe</td><td>.blue-tint--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//</div>
//
// Styleguide 5.2


// Additional colours
//
// Additional web colours for complex graphs and charts only
//
//<div class="row">
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Dark green</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-dark-green">&nbsp;</div></td><td>100%</td><td>00583d</td><td>.dark-green</td></tr>
//        <tr><td><div class="circle bg-dark-green--75">&nbsp;</div></td><td>75%</td><td>40826e</td><td>.dark-green--75</td></tr>
//        <tr><td><div class="circle bg-dark-green--50">&nbsp;</div></td><td>50%</td><td>7fab9e</td><td>.dark-green--50</td></tr>
//        <tr><td><div class="circle bg-dark-green--25">&nbsp;</div></td><td>25%</td><td>bfd5ce</td><td>.dark-green--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Green</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-green">&nbsp;</div></td><td>100%</td><td>549820</td><td>.green</td></tr>
//        <tr><td><div class="circle bg-green--75">&nbsp;</div></td><td>75%</td><td>7fb258</td><td>.green--75</td></tr>
//        <tr><td><div class="circle bg-green--50">&nbsp;</div></td><td>50%</td><td>a9cb8f</td><td>.green--50</td></tr>
//        <tr><td><div class="circle bg-green--25">&nbsp;</div></td><td>25%</td><td>d4e5c7</td><td>.green--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Purple</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-purple">&nbsp;</div></td><td>100%</td><td>4e2377</td><td>.purple</td></tr>
//        <tr><td><div class="circle bg-purple--75">&nbsp;</div></td><td>75%</td><td>7a5a99</td><td>.purple--75</td></tr>
//        <tr><td><div class="circle bg-purple--50">&nbsp;</div></td><td>50%</td><td>a691bb</td><td>.purple--50</td></tr>
//        <tr><td><div class="circle bg-purple--25">&nbsp;</div></td><td>25%</td><td>d3c8dd</td><td>.purple--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Mauve</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-mauve">&nbsp;</div></td><td>100%</td><td>832072</td><td>.mauve</td></tr>
//        <tr><td><div class="circle bg-mauve--75">&nbsp;</div></td><td>75%</td><td>a25895</td><td>.mauve--75</td></tr>
//        <tr><td><div class="circle bg-mauve--50">&nbsp;</div></td><td>50%</td><td>c18fb8</td><td>.mauve--50</td></tr>
//        <tr><td><div class="circle bg-mauve--25">&nbsp;</div></td><td>25%</td><td>e0c7dc</td><td>.mauve--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Dark red</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-dark-red">&nbsp;</div></td><td>100%</td><td>d00f00</td><td>.dark-red</td></tr>
//        <tr><td><div class="circle bg-dark-red--75">&nbsp;</div></td><td>75%</td><td>dc4b40</td><td>.dark-red--75</td></tr>
//        <tr><td><div class="circle bg-dark-red--50">&nbsp;</div></td><td>50%</td><td>e7877f</td><td>.dark-red--50</td></tr>
//        <tr><td><div class="circle bg-dark-red--25">&nbsp;</div></td><td>25%</td><td>f3c3bf</td><td>.dark-red--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Dark Orange</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-dark-orange">&nbsp;</div></td><td>100%</td><td>ef7000</td><td>.dark-orange</td></tr>
//        <tr><td><div class="circle bg-dark-orange--75">&nbsp;</div></td><td>75%</td><td>f39440</td><td>.dark-orange--75</td></tr>
//        <tr><td><div class="circle bg-dark-orange--50">&nbsp;</div></td><td>50%</td><td>f7b77f</td><td>.dark-orange--50</td></tr>
//        <tr><td><div class="circle bg-dark-orange--25">&nbsp;</div></td><td>25%</td><td>fbdbbf</td><td>.dark-orange--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//  <div class="col small_12 large_6">
//    <table class="table table--plain table--condensed">
//      <thead>
//        <tr><th>Bright Yellow</th><th>%</th><th>Hexadecimal</th><th>CSS</th></tr>
//      </thead>
//      <tbody>
//        <tr><td><div class="circle bg-bright-yellow">&nbsp;</div></td><td>100%</td><td>ffdc36</td><td>.bright-yellow</td></tr>
//        <tr><td><div class="circle bg-bright-yellow--75">&nbsp;</div></td><td>75%</td><td>ffe568</td><td>.bright-yellow--75</td></tr>
//        <tr><td><div class="circle bg-bright-yellow--50">&nbsp;</div></td><td>50%</td><td>ffed9a</td><td>.bright-yellow--50</td></tr>
//        <tr><td><div class="circle bg-bright-yellow--25">&nbsp;</div></td><td>25%</td><td>fff6cd</td><td>.bright-yellow--25</td></tr>
//      </tbody>
//    </table>
//  </div>
//</div>
//
// Styleguide 5.3


// Border colours
//
// Set a border colour
//
// .border--dark-blue - Dark blue border
// .border--bright-blue - Light blue border
// .border--blue-tint - Blue tint border
// .border--orange - Orange border
// .border--yellow - Yellow border
//
// Markup:
// <div class="inline-block">
//   <div class="bg-light-grey-1 soft push grey inline-block border--top border--dark-blue {{modifier_class}}">.{{modifier_class}}</div>
// </div>
//
// Styleguide 5.4


// Border positions
//
// Set a vertical border position
//
// .border - Border on all sides
// .border--top - Border top
// .border--bottom - Border bottom
// .border--ends - Border ends
//
// Markup:
// <div class="inline-block">
//   <div class="bg-light-grey-1 soft push grey inline-block border--dark-blue  {{modifier_class}}">.{{modifier_class}}</div>
// </div>
//
// Styleguide 5.5


// Border size
//
// Set a border size
// 
// .border--4 - Border 4px  deep
// .border--6 - Border 6px  deep
// .border--8 - Border 8px  deep
//
// Markup:
// <div class="inline-block">
//   <div class="bg-light-grey-1 soft push grey inline-block border--top border--dark-blue {{modifier_class}}">.{{modifier_class}}</div>
// </div>
//
// Styleguide 5.7

// Border style
//
// Set a border style
//
// .border--dotted - Border dotted
//
// Markup:
// <div class="inline-block">
//   <div class="bg-light-grey-1 soft push grey inline-block border--top border--dark-blue {{modifier_class}}">.{{modifier_class}}</div>
// </div>
//
// Styleguide 5.8


/* Branding basics colours ---------------------- */

.dark-blue {
	color:$dark-blue;
	}
	
.bright-blue {
	color:$bright-blue;
	}
	
.orange {
	color:$orange;
	}
		
.yellow {
	color:$yellow;
	}
		
.blue-tint {
	color:$blue-tint;
	}
	
.grey {
	color:$grey;
	}	
	
.white {
	color:#fff;
	}
	
.bg-white {
	background-color:#fff;
	}
	
/* Branding basics colour tints ---------------------- */

.dark-blue {
	color:$dark-blue;
	}
	
	.dark-blue--75 {
		color:tint($dark-blue, 25%);
		}
	
	.dark-blue--50 {
		color:tint($dark-blue, 50%);
		}
		
	.dark-blue--25 {
		color:tint($dark-blue, 75%);
		}
		
	.bg-dark-blue {
		background-color:$dark-blue;
		}
		
	.bg-dark-blue--75 {
		background-color:tint($dark-blue, 25%);
		}
		
	.bg-dark-blue--50 {
		background-color:tint($dark-blue, 50%);
		}
		
	.bg-dark-blue--25 {
		background-color:tint($dark-blue, 75%);
		}
	
	
	
.bright-blue {
	color:$bright-blue;
	}
	
	.bright-blue--75 {
		color:tint($bright-blue, 25%);
		}
	
	.bright-blue--50 {
		color:tint($bright-blue, 50%);
		}
		
	.bright-blue--25 {
		color:tint($bright-blue, 75%);
		}
		
	.bg-bright-blue {
		background-color:$bright-blue;
		}
		
	.bg-bright-blue--75 {
		background-color:tint($bright-blue, 25%);
		}
		
	.bg-bright-blue--50 {
		background-color:tint($bright-blue, 50%);
		}
		
	.bg-bright-blue--25 {
		background-color:tint($bright-blue, 75%);
		}
	
.orange {
	color:$orange;
	}
	
	.orange--75 {
		color:tint($orange, 25%);
		}
	
	.orange--50 {
		color:tint($orange, 50%);
		}
		
	.orange--25 {
		color:tint($orange, 75%);
		}
		
	.bg-orange {
		background-color:$orange;
		}
		
	.bg-orange--75 {
		background-color:tint($orange, 25%);
		}
		
	.bg-orange--50 {
		background-color:tint($orange, 50%);
		}
		
	.bg-orange--25 {
		background-color:tint($orange, 75%);
		}
		
.yellow {
	color:$yellow;
	}
	
	.yellow--75 {
		color:tint($yellow, 25%);
		}
	
	.yellow--50 {
		color:tint($yellow, 50%);
		}
		
	.yellow--25 {
		color:tint($yellow, 75%);
		}
		
	.bg-yellow {
		background-color:$yellow;
		}
		
	.bg-yellow--75 {
		background-color:tint($yellow, 25%);
		}
		
	.bg-yellow--50 {
		background-color:tint($yellow, 50%);
		}
		
	.bg-yellow--25 {
		background-color:tint($yellow, 75%);
		}
	
	
.blue-tint {
	color:$blue-tint;
	}
	
	.blue-tint--75 {
		color:tint($blue-tint, 25%);
		}
	
	.blue-tint--50 {
		color:tint($blue-tint, 50%);
		}
		
	.blue-tint--25 {
		color:tint($blue-tint, 75%);
		}
		
	.bg-blue-tint {
		background-color:$blue-tint;
		}
		
	.bg-blue-tint--75 {
		background-color:tint($blue-tint, 25%);
		}
		
	.bg-blue-tint--50 {
		background-color:tint($blue-tint, 50%);
		}
		
	.bg-blue-tint--25 {
		background-color:tint($blue-tint, 75%);
		}
		
	.bg-blue-tint--large {
		@include respond-min($large) {
			background-color:$blue-tint;	
			}
		}
		
	
.grey {
	color:$grey;
	}	
	
	.grey--75 {
		color:tint($grey, 25%);
		}
	
	.grey--50 {
		color:tint($grey, 50%);
		}
		
	.grey--25 {
		color:tint($grey, 75%);
		}
		
	.bg-grey {
		background-color:$grey;
		}
		
	.bg-grey--75 {
		background-color:tint($grey, 25%);
		}
		
	.bg-grey--50 {
		background-color:tint($grey, 50%);
		}
		
	.bg-grey--25 {
		background-color:tint($grey, 75%);
		}
	
	
.white {
	color:#fff;
	}
	
	
	

	
/*=Additional colours for complex graphs and charts only
------------------------------------------------*/	
	
.dark-green {
	color:$dark-green;
	}
	
	.dark-green--75 {
		color:tint($dark-green, 25%);
		}
	
	.dark-green--50 {
		color:tint($dark-green, 50%);
		}
		
	.dark-green--25 {
		color:tint($dark-green, 75%);
		}
		
	.bg-dark-green {
		background-color:$dark-green;
		}
		
	.bg-dark-green--75 {
		background-color:tint($dark-green, 25%);
		}
		
	.bg-dark-green--50 {
		background-color:tint($dark-green, 50%);
		}
		
	.bg-dark-green--25 {
		background-color:tint($dark-green, 75%);
		}
	
	
	
.green {
	color:$green;	
	}
	
	.green--75 {
		color:tint($green, 25%);
		}
	
	.green--50 {
		color:tint($green, 50%);
		}
		
	.green--25 {
		color:tint($green, 75%);
		}
		
	.bg-green {
		background-color:$green;
		}
		
	.bg-green--75 {
		background-color:tint($green, 25%);
		}
		
	.bg-green--50 {
		background-color:tint($green, 50%);
		}
		
	.bg-green--25 {
		background-color:tint($green, 75%);
		}
	
	

.bright-yellow {
	color:$bright-yellow;	
	}
	
	.bright-yellow--75 {
		color:tint($bright-yellow, 25%);
		}
	
	.bright-yellow--50 {
		color:tint($bright-yellow, 50%);
		}
		
	.bright-yellow--25 {
		color:tint($bright-yellow, 75%);
		}
		
	.bg-bright-yellow {
		background-color:$bright-yellow;
		}
		
	.bg-bright-yellow--75 {
		background-color:tint($bright-yellow, 25%);
		}
		
	.bg-bright-yellow--50 {
		background-color:tint($bright-yellow, 50%);
		}
		
	.bg-bright-yellow--25 {
		background-color:tint($bright-yellow, 75%);
		}

.purple  {
	color:$purple;
	}
	
	.purple--75 {
		color:tint($purple, 25%);
		}
	
	.purple--50 {
		color:tint($purple, 50%);
		}
		
	.purple--25 {
		color:tint($purple, 75%);
		}
		
	.bg-purple {
		background-color:$purple;
		}
		
	.bg-purple--75 {
		background-color:tint($purple, 25%);
		}
		
	.bg-purple--50 {
		background-color:tint($purple, 50%);
		}
		
	.bg-purple--25 {
		background-color:tint($purple, 75%);
		}

.mauve  {
	color:$mauve;
	}
	
	.mauve--75 {
		color:tint($mauve, 25%);
		}
	
	.mauve--50 {
		color:tint($mauve, 50%);
		}
		
	.mauve--25 {
		color:tint($mauve, 75%);
		}
		
	.bg-mauve {
		background-color:$mauve;
		}
		
	.bg-mauve--75 {
		background-color:tint($mauve, 25%);
		}
		
	.bg-mauve--50 {
		background-color:tint($mauve, 50%);
		}
		
	.bg-mauve--25 {
		background-color:tint($mauve, 75%);
		}
	
.dark-red {
	color:$dark-red;
	}
	
	.dark-red--75 {
		color:tint($dark-red, 25%);
		}
	
	.dark-red--50 {
		color:tint($dark-red, 50%);
		}
		
	.dark-red--25 {
		color:tint($dark-red, 75%);
		}
		
	.bg-dark-red {
		background-color:$dark-red;
		}
		
	.bg-dark-red--75 {
		background-color:tint($dark-red, 25%);
		}
		
	.bg-dark-red--50 {
		background-color:tint($dark-red, 50%);
		}
		
	.bg-dark-red--25 {
		background-color:tint($dark-red, 75%);
		}

.dark-orange {
	color:$dark-orange;
	}
	
	.dark-orange--75 {
		color:tint($dark-orange, 25%);
		}
	
	.dark-orange--50 {
		color:tint($dark-orange, 50%);
		}
		
	.dark-orange--25 {
		color:tint($dark-orange, 75%);
		}
		
	.bg-dark-orange {
		background-color:$dark-orange;
		}
		
	.bg-dark-orange--75 {
		background-color:tint($dark-orange, 25%);
		}
		
	.bg-dark-orange--50 {
		background-color:tint($dark-orange, 50%);
		}
		
	.bg-dark-orange--25 {
		background-color:tint($dark-orange, 75%);
		}
	
	
/*=Additional background colours for complex graphs and charts only
------------------------------------------------*/	
	
.bg-dark-green {
	background-color:$dark-green;
	}

.bg-green {
	background-color:$green;	
	}

.bg-bright-yellow {
	background-color:$bright-yellow;	
	}

.bg-purple  {
	background-color:$purple;
	}

.bg-mauve  {
	background-color:$mauve;
	}
	
.bg-dark-red {
	background-color:$dark-red;
	}

.bg-dark-orange {
	background-color:$dark-orange;
	}	
	

/* Grayscale colours ---------------------- */

.light-grey-1 {
	color:$light-grey-1;
	}
	
.light-grey-2 {
	color:$light-grey-2;
	}
	
.light-grey-3 {
	color:$light-grey-3;
	}
	
.bg-light-grey-1 {
	background-color:$light-grey-1;
	}
	
.bg-light-grey-2 {
	background-color:$light-grey-2;
	}
	
.bg-light-grey-3 {
	background-color:$light-grey-3;
	}
	
.mid-grey-1 {
	color:$mid-grey-1;
	}
	
.mid-grey-2 {
	color:$mid-grey-2;
	}
	
.mid-grey-3 {
	color:$mid-grey-3;
	}
		
.bg-mid-grey-1 {
	background-color:$mid-grey-1;
	}
	
.bg-mid-grey-2 {
	background-color:$mid-grey-2;
	}
	
.bg-mid-grey-3 {
	background-color:$mid-grey-3;
	}
	
.dark-grey-1 {
	color:$dark-grey-1;
	}
	
.dark-grey-2 {
	color:$dark-grey-2;
	}
	
.dark-grey-3 {
	color:$dark-grey-3;
	}
	
.bg-dark-grey-1 {
	background-color:$dark-grey-1;
	}
	
.bg-dark-grey-2 {
	background-color:$dark-grey-2;
	}
	
.bg-dark-grey-3 {
	background-color:$dark-grey-3;
	}
	
	
	
/* Define a primary and secondary colour if appropriate ---------------------- */

.primary-color {
	color:$primary-color;
	}
	
.secondary-color {
	color:$secondary-color;
	}
	
	
	
/* Border position ---------------------- */	

.border {
	border:2px solid $light-grey-3;
	}

.border--top {
	border-top:2px solid $light-grey-3;
	}
		
.border--bottom {
	border-bottom:2px solid $light-grey-3;
	}
	
.border--ends {
	border-bottom:2px solid $light-grey-3;
	border-top:2px solid $light-grey-3;
	}
	
	
	

/* Border style ---------------------- */		
.border--dotted {
	border-style:dotted;
	}
	
	
	
/* Border size ---------------------- */	

.border--4 {
	border-width:rem(4px);
	}
	
.border--6 {
	border-width:rem(6px);
	}

.border--8 {
	border-width:rem(6px);
	}
	
	
	
/* Border colour  ---------------------- */	

.border--primary-color {
	border-color:$primary-color;
	}
	
.border--secondary-color {
	border-color:$secondary-color;
	}
		
.border--dark-blue {
	border-color:$dark-blue;
	}
	
.border--bright-blue {
	border-color:$bright-blue;
	}
	
.border--blue-tint {
	border-color:$blue-tint;
	}
	
.border--orange {
	border-color:$orange;
	}
	
.border--yellow {
	border-color:$yellow;
	}
	
.border--grey {
	border-color:$grey;
	}
	
	
	
/* Overlines ---------------------- */		
.overline {
	background-color:$bright-blue;
	display:block;
	height:2px;
	margin-bottom:lh(.66);
	margin-top:lh(.66);
	text-align:left;
	&.bg-yellow {
		background-color:$yellow;
		}
	}
	
.overline--centered {
	margin-left: auto;
	margin-right: auto;
	}
	
.overline_1 {
	width:40px;
	}
	
.bg-pattern {
	background-color:$dark-blue;	
	@include respond-min($large) {
		background-image:url(../images/branding/sl-pattern-01.png);
		background-image:none;
		background-position:right top;
		background-repeat:no-repeat;
		background-size: contain;
		}
		
	}
	