.masthead {	
	background-color:#fff;
	min-height:rem(72px);
	padding:lh(.5) 0;
	@include respond-min($medium) {
		height:rem(96px);
		min-height:0;
		margin:0 auto;
		padding:0;
		position:relative;
		width:100%;
		.wrap {
			height:rem(72px);
			margin-bottom:lh(1);
			}		
		}			
	}
	
.icon-menu {
	color:$bright-blue;
	font-size:rem(36px);
	}
				
.site-logo {
	display:block;
	}
	
.site-logo__img {
	display:block;
	height:31px !important;
	width:143px !important;
	@include respond-min($medium) {
		height:46px !important;
		width:200px !important;
		}		
	@include respond-min($large) {
		bottom:0;
		position:absolute;
		}	
	}

.tagline {
	color:$dark-blue;
	font-size:rem(16px);
	@include respond-min($large) {
		bottom:0;
		font-size:rem(21px);
		position:absolute;
		right:$gutter;
		text-align:right;
		}
	}
	
	
	
.js-scroll-offset {
	margin-top:rem(62px);
	}
	
	
.search-link {
	background-color:transparent;
	border:none;
	color:$bright-blue;
	display:inline-block;
	font-size:rem(28px);
	min-width:0;
	padding:0;
	position:absolute;
	right:rem(64px);
	text-align:center;
	top:rem(12px);
	width:auto;	
	z-index:9;
	@include respond-min($large) {
		color:$mid-grey-3;
		right:$gutter;
		top:rem(103px);
		}
		
	&:hover,
	&:focus {
		background-color:transparent !important;
		border:none !important;
		border-color:transparent;
		color:$bright-blue;
		}
		
	&:active { 
		background-color:transparent !important;
		border:none !important;
		border-color:transparent;
		}
		
	}
	

.trigger__icon {
	color:$bright-blue;
	font-size:rem(32px);
	
	&:active {
		color:$bright-blue;
		}
		
	@include respond-min($medium) {
		font-size:rem(42px);
		}
		
	}

			
.js-trigger__search {
	display:block;
	@include respond-min($large) {
		display:none !important;
		}
	
	}
		
.search {
	position:relative;
	}
	
.search__label {
	@include visuallyhidden;
	}
	
	
.search input[type="text"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color:transparent;
	border:none;
	border-bottom:4px solid $bright-blue;
	box-sizing: border-box; 
	color:$dark-blue;
	display:block;
	font-family:$primary-font;
	font-size:rem(16px);
	padding: lh(.5) lh(4) lh(.5) 0;
	position: relative;
	width:100%;
	z-index:1;
	
	-webkit-box-shadow: none;
	box-shadow: none;
	
	&:focus {
		-webkit-box-shadow: 0 0 0 $bright-blue;
		-moz-box-shadow: 0 0 0 $bright-blue;
		box-shadow: 0 0 0 $bright-blue;
		}
		
	@include respond-min($medium){
		font-size:rem(36px);
		padding: lh(1) lh(4) lh(1) 0;
		}
		
	@include respond-min($large){
		font-size:rem(48px);
		}

	@include respond-min($large){
		font-size:rem(72px);
		}
		
	}
	
.search__btn {
	@include border-radius(0);
	background-color:transparent;
	bottom: 0;
	color:$bright-blue;
	cursor: pointer;
	margin:0;
	padding:lh(.5) lh(.66) 0 lh(.66);
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	
	&:hover {
		color:$dark-blue;
		}
		
	@include respond-min($medium){
		font-size:rem(36px);
		padding:lh(1.25) lh(1) 0 lh(1);
		}
		
	@include respond-min($large){
		font-size:rem(48px);
		padding-top:lh(1.5);
		}
		
	@include respond-min($large){
		font-size:rem(72px);
		}
		
	}
	
.icon--xlarge {
	border:1px solid #000;
	padding-bottom:100%; 
	text-align:center;
	width:100%;
	}
	
.icon--xlarge-_icon {
	font-size:rem(100px);
	position:absolute;
	}
	
	