// Layout utilities
//
// Classes to help responsive layout
//
// Styleguide 10.0

// Pull left or right
//
// .pull-left - Pull left
// .pull-left--medium - Pull left after medium breakpoint
// .pull-left--large - Pull left after large breakpoint
// .pull-right - Pull right
// .pull-right--medium - Pull right after medium breakpoint
// .pull-right--large - Pull right after large breakpoint
//
// Markup:
// <a class="btn {{modifier_class}}">.{{modifier_class}}</a>
//
// Styleguide 10.1


// Add margins
//
// .push - All sides
// .push--top - Top margin
// .push--right - Right margin
// .push--bottom - Bottom margin
// .push--left - Left margin
// .push--ends - Vertical margins
// .push--sides - Horizontal margin
// .push-half - Half margins
// .push-half--top - Half top margin
// .push-half--right - Half right margin
// .push-half--bottom - Half bottom margin
// .push-half--left - Half left margin
// .push-half--ends - Half vertical margins
// .push-half--sides  - Half horizontal margins
//
// Markup:
// <div class="bg-yellow inline-block">
//   <div class="bg-bright-blue soft white inline-block {{modifier_class}}">.{{modifier_class}}</div>
// </div>
//
// Styleguide 10.2

	
// Remove margins
//
// .flush - All sides
// .flush--top - Remove top margin
// .flush--right - Remove right margin
// .flush--bottom - Remove bottom margin
// .flush--left - Remove left margin
// .flush--ends - Remove vertical margins
// .flush--sides - Remove horizontal margins
//
// Markup:
// <div class="bg-yellow inline-block">
//   <div class="bg-bright-blue soft white inline-block push {{modifier_class}}">.{{modifier_class}}</div>
// </div>
//
// Styleguide 10.3


// Add padding
//
// .soft - All sides
// .soft--top - Top padding
// .soft--right - Right padding
// .soft--bottom - Bottom padding
// .soft--left - Left padding
// .soft--ends - Vertical padding
// .soft--sides - Horizontal padding
// .soft-half - Half padding
// .soft-half--top - Half top padding
// .soft-half--right - Half right padding
// .soft-half--bottom - Half bottom padding
// .soft-half--left - Half left padding
// .soft-half--ends - Half vertical padding
// .soft-half--sides  - Half horizontal padding
//
// Markup:
// <div class="bg-bright-blue white inline-block {{modifier_class}}">.{{modifier_class}}</div>
//
// Styleguide 10.4


// Remove padding
//
// .hard -remove all padding
// .hard--top -remove top padding
// .hard--right -remove right padding
// .hard--bottom -remove bottom padding
// .hard--left -remove left padding
// .hard--ends -remove vertical padding
// .hard--sides -remove horizontal padding
//
// Markup:
// <div class="bg-yellow soft inline-block">
//   <div class="bg-bright-blue soft white inline-block {{modifier_class}}">.{{modifier_class}}</div>
// </div>
//
// Styleguide 10.5


	
// Text align classes
//
// .text--left - Text left
// .text--right - text align right
// .text--right--medium - text align right after medium breakpoint
// .text--right--large - text align right after large breakpoint
//
// Markup:
// <div class="block {{modifier_class}}">.{{modifier_class}}</div>
//
// Styleguide 10.6

.block {
	display:block;
	}
	
.inline-block {
	display:inline-block !important;
	width:auto !important;
	}
	
.absolute {
	position:absolute;
	}

.relative {
	position:relative;
	}
	
.centered {
	display:block;
	margin-left:auto;
	margin-right:auto;
	}
	
.fixed {
	@include respond-min($large) {
		margin-left: auto;
    	margin-right: auto;
		position: fixed;
		top: 0;
		width: 100%;
		z-index:10;
		}
	}
	
.top {
	top:0;
	}

.right {
	right:0;
	}
		
.pull-right {
	float:right !important;
	}
	
.pull-right--medium {
	@include respond-min($medium) {
		float:right !important;
		}
	}
	
.pull-right--large {
	@include respond-min($large) {
		float:right !important;
		}
	}
	
.pull-left {
	float:left !important;
	}
	
.pull-left--medium {
	@include respond-min($medium) {
		float:left;
		}
	}
	
.pull-left--large {
	@include respond-min($large) {
		float:left;
		}	
	}



	
/**
 * Add/remove margins
 */
.push { 
	margin:rem($font-base-line-height) !important;
	}
	
.push--medium {
	@include respond-min($medium) {
		margin:rem($font-base-line-height) !important;
		}
	}
		
.push--top { 
	margin-top:rem($font-base-line-height) !important;
	}
	
.push--right { 
	margin-right:rem($font-base-line-height) !important; 
	}
	
.push--bottom { 
	margin-bottom:rem($font-base-line-height) !important; 
	}

.push--left { 
	margin-left:rem($font-base-line-height) !important; 
	}

.push--ends { 
	margin-top:rem($font-base-line-height) !important; 
	margin-bottom:rem($font-base-line-height) !important;
	}
	
.push--sides { 
	margin-right:rem($font-base-line-height) !important; 
	margin-left:rem($font-base-line-height) !important; 
	}

.push-half { 
	margin:rem($font-base-line-height-half) !important;
	}
	
.push-half--top { 
	margin-top:rem($font-base-line-height-half) !important; 
	}
	
.push-half--right { 
	margin-right:rem($font-base-line-height-half) !important; 
	}
	
.push-half--bottom { 
	margin-bottom:rem($font-base-line-height-half) !important; 
	}
	
.push-half--left { 
	margin-left:rem($font-base-line-height-half) !important; 
	}
	
.push-half--ends { 
	margin-top:rem($font-base-line-height-half) !important; 
	margin-bottom:rem($font-base-line-height-half) !important; 
	}
	
.push-half--sides { 
	margin-right:rem($font-base-line-height-half) !important; 
	margin-left: rem($font-base-line-height-half) !important; 
	}
	
.push-double--top { 
	margin-top:rem($font-base-line-height-half) * 2 !important; 
	}
	


.flush { 
	margin:0!important; 
	}
	
.flush--top { 
	margin-top: 0!important; 
	}
	
.flush--right { 
	margin-right: 0!important; 
	}
	
.flush--bottom { 
	margin-bottom:0!important; 
	}
	
.flush--left { 
	margin-left:  0!important; 
	}
	
.flush--ends { 
	margin-top:   0!important; 
	margin-bottom:0!important; 
	}
	
.flush--sides { 
	margin-right: 0!important; 
	margin-left:  0!important; 
	}


/**
 * Add/remove paddings
 */
.soft { 
	padding:rem($font-base-line-height) !important; 
	}

.soft--top { 
	padding-top:rem($font-base-line-height) !important; 
	}
	
.soft--right { 
	padding-right:rem($font-base-line-height) !important; 
	}
	
.soft--bottom { 
	padding-bottom:rem($font-base-line-height) !important; 
	}
	
.soft--left { 
	padding-left:rem($font-base-line-height) !important;
	}
	
.soft--ends { 
	padding-top:rem($font-base-line-height) !important; 
	padding-bottom:rem($font-base-line-height) !important; 
	}
	
.soft--sides { 
	padding-right:rem($font-base-line-height) !important; 
	padding-left: rem($font-base-line-height) !important;
	}

.soft-half { 
	padding:rem($font-base-line-height-half) !important; 
	}
	
.soft-half--top { 
	padding-top:rem($font-base-line-height-half) !important; 
	}
	
.soft-half--right {
	padding-right:rem($font-base-line-height-half) !important;
	}
	
.soft-half--bottom { 
	padding-bottom:rem($font-base-line-height-half) !important; 
	}
	
.soft-half--left { 
	padding-left:rem($font-base-line-height-half) !important;
	}
	
.soft-half--ends { 
	padding-top:rem($font-base-line-height-half) !important; 
	padding-bottom:rem($font-base-line-height-half) !important;
	}
	
.soft-half--sides { 
	padding-right:rem($font-base-line-height-half) !important; 
	padding-left: rem($font-base-line-height-half) !important; 
	}
	
.soft--medium {
	@include respond-min($medium) {
		padding:rem($font-base-line-height) !important;
		}
	}	
	
.soft--large {	
	@include respond-min($large) {
		padding:rem($font-base-line-height) !important;
		}
	}
	
.soft-half--large { 
	@include respond-min($large) {
		padding:rem($font-base-line-height-half) !important;
		}
	}
	
.soft-right--large { 
	@include respond-min($large) {
		padding-right:$font-base-line-height !important;
		}
	}
	
	
	

.hard { 
	padding: 0!important; 
	}

.hard--top { 
	padding-top:0!important; 
	}

.hard--right { 
	padding-right: 0!important; 
	}
	
.hard--bottom { 
	padding-bottom:0!important; 
	}
	
.hard--left { 
	padding-left:0!important; 
	}
	
.hard--ends { 
	padding-top:0!important;
	padding-bottom:0!important;
	}

.hard--sides { 
	padding-right: 0!important;
	padding-left:  0!important;
	}
	
.text--center {
	text-align:center;
	}
	
.text--left {
	text-align:left;
	}

.text--right {
	text-align:right;
	}
	
.text--right--medium {
	@include respond-min($medium) {
		text-align:right;
		}
	}
	
.text--right--large {
	@include respond-min($large)  {
		text-align:right;
		}
	}

.square {
    float: left;
    padding-bottom: 50%;
    position: relative;
    width: 50%;
	}
	
.square__inner {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	}

pre {
	background-color:$light-grey-1;
	border:1px solid $light-grey-3;
	line-height:lh(13/16);
	margin-bottom:lh(1);
	padding:lh(1);
	}


.affix {
	position:fixed;
	width:inherit;
	}
	
.wrap {
    @include clearfix();
    margin: 0 auto;
    max-width: 1240px;
    width:96%;
    @include respond-min($medium) {
        width:100%;
        }
    @include respond-min($xlarge) {
        max-width: 1400px;
        }
    }

.content {	
	position: relative;
	z-index: 3;
	}

	