// Navigation
//
// <p>The choice and implementation of the appropriate navigation pattern should be appropriate to the IA and content established in the research phase of any given project. The proposed navigation should then be implemented during wireframing, tested as part of wireframing usability testing and iterated accordingly based on feedback.</p> 
//
// Styleguide 12.0


// Considerations and examples 
//
//<ul class="list">
//	<li class="list__item">
//      <a href="http://www.dtelepathy.com/blog/design/ux-flows-navigation" class="list__link">UX Flows: How to Create Navigations that Guide Your User to the Goal</a>
//	</li>
//	<li class="list__item">
//      <a href="http://www.smashingmagazine.com/2011/06/06/planning-and-implementing-website-navigation/" class="list__link">Planning And Implementing Website Navigation</a>
//	</li>
//	<li class="list__item">
//      <a href="http://bradfrost.com/blog/web/complex-navigation-patterns-for-responsive-design/" class="list__link">Complex navigation patterns for responsive design</a>
//	</li>
//	<li class="list__item">
//      <a href="http://bradfrost.github.io/this-is-responsive/patterns.html#navigation" class="list__link">Responsive navigation patterns</a>
//	</li>
//</ul>
// 
//<p>Below are some simple examples using <abbr title="Object Orientated CSS">OOCSS</abbr> and <abbr title="Block, Element, Modifier">BEM</abbr> methodologies to use as a potential reference or starting point when beginning to prototype navigation patterns </p>
//
// Styleguide 12.1

// Simple horizontal navigation
//
// Markup:
//<nav class="cf nav nav-primary" role="navigation">
//  <ul class="nav-primary__list">
//    <li class="nav-primary__item">
//      <a href="#" class="nav-primary__link nav-primary__link--selected">Selected nav item</a>
//    </li>
//    <li class="nav-primary__item">
//      <a href="#" class="nav-primary__link">Primary nav item</a>
//    </li>
//    <li class="nav-primary__item">
//      <a href="#" class="nav-primary__link">Primary nav item</a>
//    </li>
//    <li class="nav-primary__item">
//      <a href="#" class="nav-primary__link">Primary nav item</a>
//    </li>
//  </ul>
//</nav>
//
//
//
// Styleguide 12.2


// Simple horizontal navigation with secondary level
//
// Markup:
//<nav class="cf nav nav-primary" role="navigation">
//  <ul class="nav-primary__list">
//    <li class="nav-primary__item">
//      <a href="#" class="nav-primary__link">Primary nav item</a>
//    </li>
//    <li class="nav-primary__item">
//      <a href="#" class="nav-primary__link nav-primary__link--selected">Primary nav item</a>
//        <nav class="js-toggle-item nav-secondary">                               
//          <ul class="nav-secondary__list">
//          <li class="nav-secondary__item">
//            <a class="nav-secondary__link" href="#">
//              Secondary nav item
//            </a>
//          </li>
//          <li class="nav-secondary__item">
//            <a class="nav-secondary__link nav-secondary__link--selected" href="#">
//              Selected nav item
//            </a>
//          </li>
//          <li class="nav-secondary__item">
//            <a class="nav-secondary__link" href="#">
//              Secondary nav item
//            </a>
//          </li>
//        </ul>
//      </nav>
//    <li>
//    <li class="nav-primary__item">
//      <a href="#" class="nav-primary__link">Primary nav item</a>
//    </li>
//    <li class="nav-primary__item">
//      <a href="#" class="nav-primary__link">Primary nav item</a>
//    </li>
//  </ul>
//</nav>
//
//
//
// Styleguide 12.3

// Nav tabs
//
// Simple horizontal navigation styling to resemble tabs
//
//Markup:
//<nav class="cf nav nav-tabs" role="navigation">
//  <ul class="nav-tab__list">
//    <li class="nav-tab__item">
//      <a href="#" class="nav-tab__link nav-tab__link--active">Nav tab item</a>
//    </li>
//    <li class="nav-tab__item">
//      <a href="#" class="nav-tab__link">Nav tab item</a>
//    </li>
//    <li class="nav-tab__item">
//      <a href="#" class="nav-tab__link">Nav tab item</a>
//    </li>
//    <li class="nav-tab__item">
//      <a href="#" class="nav-tab__link">Nav tab item</a>
//    </li>
//  </ul>
//</nav>
//
//
//
// Styleguide 12.4


// Horizontally centered nav tabs
//
//
//Markup:
//<nav class="cf nav nav-tabs nav-tabs--centered" role="navigation">
//  <ul class="nav-tab__list">
//    <li class="nav-tab__item">
//      <a href="#" class="nav-tab__link nav-tab__link--active">Nav tab item</a>
//    </li>
//    <li class="nav-tab__item">
//      <a href="#" class="nav-tab__link">Nav tab item</a>
//    </li>
//    <li class="nav-tab__item">
//      <a href="#" class="nav-tab__link">Nav tab item</a>
//    </li>
//    <li class="nav-tab__item">
//      <a href="#" class="nav-tab__link">Nav tab item</a>
//    </li>
//  </ul>
//</nav>
//
//
//
// Styleguide 12.5

// Breadcrumbs
//
//Markup:
//  <nav class="nav nav-breadcrumbs">
//    <ol class="nav-breadcrumb__list">
//      <li class="nav-breadcrumb__item">
//        <a href="#" class="nav-breadcrumb__link">
//          Home
//        </a>
//      </li>
//      <li class="nav-breadcrumb__item">
//        <a href="#" class="nav-breadcrumb__link">
//          Level one
//        </a>
//      </li>
//      <li class="nav-breadcrumb__item">
//        Current page
//      </li>
//    </ol>
//  </nav>
//
//
//
// Styleguide 12.6


// Offcanvas menu animation only
   @include respond-max(59.95em) {
        .nav-primary {
            position: fixed;
            top:0;
            right:0;
            width:90%;
            bottom:0;
            transform: translateX(100%);
            }
        .on--navigation .nav-primary {
            transform: translateX(0%);
            transition:transform 500ms ease;
            }
        .on--navigation {
            .on--navigation__animate {
                transform:translateX(-90%);
                transition:transform 500ms ease;
                }
            }
        .on--navigation .nav-primary {
            display:block;
            overflow-y: auto;
            }
        .animating--navigation {
            .nav-primary {
                transform: translateX(100%);
                transition:transform 500ms ease;
                }
            .on--navigation__animate {
                transform:translateX(0%);
                transition:transform 500ms ease;
                }
            }
        .on--navigation__animate {
            transform: translateX(0%);
            }
    }

.nav {
	list-style-type:none;
	ul, ol {
		list-style-type:none;
		}	
	a {
		text-decoration:none;
		}
	}
	
.nav-primary {
    background-color:$off-black;
    @include respond-min($large) {
        background-color:#fff;
        border-top:1px solid $light-grey-2;
        overflow:visible;
        padding:0;
        position:relative;
        width:100%;
        &:after {
            background-color: $light-grey-1;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 47px;
            }
        }
	}
.nav-primary__inner {
    position:relative;
    padding:lh(3.66) lh(.75) lh(1) lh(.75);
    @include respond-min($medium) {
        padding:rem(170px) lh(.75) lh(1) lh(.75);
        }
    @include respond-min($large) {
        padding:0;
        position: static;
        }
    }
	
.nav-primary__list {
    @include clearfix;
    display:block;
    width:100%;
    @include respond-min($large) {
        display:block;
        padding:0 $gutter/2;
        }
    }
		
.nav-primary__item {
    display:block;
    position: relative;
    width:100%;
    @include respond-min($large) {
        border-bottom: 0;
        float:left;
        height:auto;
        margin: 0;
        overflow:visible;  
        position:static; 
        width:auto;
        &:first-child .nav-primary__link {
        	border-left:1px solid $light-grey-2;
        	}
        }
    }
			
.nav-primary__link {
    border-bottom:1px solid $dark-grey-3;
    color:$light-grey-3; 
    display:block;
    font-family:$primary-font;
    font-weight:normal;
    font-size:rem(14px);
    padding:lh(.5) 0;
    &:hover {
        color:$light-grey-3;
        }
    @include respond-min($medium) {
        font-size:rem(18px);
        padding:lh(.75) 0;
        }
    @include respond-min($large) {
        border-bottom:none;
        border-right:1px solid $light-grey-2;
        color:$dark-grey-1;
        font-size:rem(15px);
        height:rem(48px);
        line-height:rem(48px);
        padding:0 lh(1.33);
        &:hover {
            color:$bright-blue;
            }
        }
    }

.active .nav-primary__link {
    @include respond-min($large) {
        background-color: #ffffff;
        color: $bright-blue;
        position: relative;
        }
    }
.active .nav-primary__link::before {
    @include respond-min($large) {
    	background-color: $bright-blue;
    	content: "";
    	height: 3px;
    	left: -1px;
    	position: absolute;
    	right: -1px;
    	top: -3px;
    	z-index: 101
        }
	}

.active .nav-primary__link::after {
    @include respond-min($large) {
    	background-color: #ffffff;
    	content: "";
    	height: 1px;
    	left: -1px;
    	position: absolute;
    	right: -1px;
        top:rem(47px);
    	z-index: 101;
        }
	}

.on--nav-secondary .nav-primary__link {
    @include respond-min($large) {
        height:rem(97px);
        }
    }






		
.nav-primary__expander {
    display:none;
    @include respond-max(59.95em) {
        border-left:1px solid $dark-grey-3;
        color:#fff;
        display:block;
        font-size:rem(24px);
        height:rem(48px);
        line-height:rem(48px);
        position:absolute;
        right:0;
        text-align:center;
        top:0;
        width:rem(48px);
        z-index:1001;
        }
    @include respond-min($medium) {
        height:rem(60px);
        line-height:rem(60px);
        width:rem(60px);
        }
	&:hover, 
	&:active,
	&:focus {
		color:$light-grey-3;
       	}
    .icon-angle-up {
        display:none;
        }
    }

 .active .nav-primary__expander {
    .icon-angle-up {
        background:$off-black;
        display:block;
        }
    .icon-angle-down {
        display:none;
        }
    }


.nav-secondary {
    background:$off-black;
    display:none;
    max-height:0;
    padding:lh(1) 0;
    width:100%;
    @include respond-min($large) {
        background:#fff;
        border-bottom:1px solid $light-grey-2;
        left:0;
        max-height:none;
        top:rem(48px);
        padding:0;
        position:absolute;
        width: 100%;
        }   
    }
.nav-secondary__list {
    @include respond-min($large) {
        background:#fff;
        margin-left:auto;
        margin-right:auto;
        padding-left:0;
        padding-right:0;
        }   
    }

.active .nav-secondary {
    @include respond-max(59.95em) {
        display:block;
        max-height:none;  
        }  
    @include respond-min($large) {
        display: block !important;
        }   
    }

.nav-secondary__list {
    @include clearfix;
    margin-left:lh(1);
    @include respond-min($large) {
        display:block;
        margin-left:auto;
        padding:0 $gutter/2;
        }
    }

.nav-secondary__item   {
    display:block;
    position:relative;
    @include respond-min($large) {
        float: left;
        margin: 0;
        position:static;
        &:last-child .nav-secondary__link {
            &:after {
//                background-color:transparent;
                }
            }
        }
    }
    
.nav-secondary__link {
    color:$light-grey-2;
    display:block;
    font-family:$secondary-font;
    font-size:rem(13px);
    padding:lh(.33) 0;
    &:hover,
    &:active,
    &:focus {
        color:$light-grey-3;
        } 
    @include respond-min($medium) {
        padding:lh(.66) 0;
        }
    @include respond-min($large) {
        color:$mid-grey-3;
        display:block;
        float:left;
        height:rem(48px);
        line-height:rem(48px);
        margin:0 lh(.75);
        padding:0;
        position:relative;
	    &:hover,
	    &:active,
	    &:focus {
	        color:$bright-blue;
	        } 
        &:hover {
            &:after {
                background-color: $bright-blue;
                bottom: -1px;
                content: "";
                height: 3px;
                left: 0;
                position: absolute;
                right: 0;
                z-index: 101;
                }
            }
        }
    }

.active > .nav-secondary__link {
    @include respond-min($large) {
        color:$bright-blue;
        &:after {
            background-color: $bright-blue;
            bottom: -1px;
            content: "";
            height: 3px;
            left: 0;
            position: absolute;
            right: 0;
            z-index: 101;
            }
        }
	}

.nav-btn {
    @include border-radius(2px);
    background-color:rgba(255,255,255, .15);
    border:none;
    color: #ffffff;
    display: none;
    height:rem(44px);
    line-height:rem(44px);
    font-size:rem(20px);
    padding:0 rem(8px);
    position: absolute;
    text-align:center;
    top: rem(8px);
    width:rem(44px);
    &:hover,
    &:focus {
        background-color:rgba(255,255,255, .05);
        }   
    @include respond-max(59.938em) {
        display: block;
        }
    }
.nav-btn--menu {
    right:1rem;
    }

.nav-btn--cancel {
    background-color:transparent;
    right:lh(.5);
    top:lh(1);
    &:hover, 
    &:focus {
        color:$light-grey-1;
        }
    @include respond-min($medium) {
        top:lh(2);
        }
    @include respond-min($large) {
        font-size:rem(32px);
        }
    }











	

				

.nav-vertical {
	display:block;
	width:100%;
	@include respond-min($large) {
		padding-right:lh(1.66);
		}
	}		
		
.nav-vertical__list {
	display:block;
	}
	
.nav-vertical__item {
	display:block;
	}
	
.nav-vertical__link {
	border-bottom:1px dotted $light-grey-2;
    border-left:4px solid #fff;
	color:$dark-grey-1;
	display: block;
	font-family:$secondary-font;
	font-size:rem(16px);
	font-weight:normal;
    overflow:visible;
	padding: lh(.33) 0;
    position:relative;
	text-decoration: none;
	&:hover {
		color:$dark-blue !important;
		text-decoration:none;
		}		
	&:visited {
		color:$bright-blue;
		}		
	}
	
.selected .nav-vertical__link {
	color:$dark-blue;
    font-weight:bold;
    &:before {
        background-color:$dark-blue;
        bottom:-1px;
        content:'';
        left:rem(-18px);
        position:absolute;
        top:-1px;
        width:rem(2px);
        }
	}

.nav-tabs {
	@include clearfix();
	display:block;
	font-family:$primary-font;
	}
		
.nav-tab__list {
	@include clearfix();
	border-bottom: solid 1px $blue-tint;
	display: block; 
	font-size:rem(18px);
	height:rem(48px);
	list-style: none;
	padding:0; 
	@include respond-min($medium) {
		padding: 0 lh(1); 
		}
	}

.nav-tab__item {
	display:block;
	float:left;
	list-style: none;
	}

.nav-tab__link {
	background-color:$blue-tint;
	border-bottom: 1px solid $blue-tint;
	border-left: 1px solid $blue-tint;
	border-right: 1px solid $blue-tint;
	border-spacing:0;
	border-top: 2px solid transparent;
	color:$bright-blue;
	display: block;
	font-family:$secondary-font;
	height:rem(48px);
	line-height:rem(32px);
	margin:0;
	padding: 0 lh(.33);
	text-decoration:none;

	&:hover {
		color:$dark-blue;
		cursor: pointer; 
		text-decoration:none;
		}
		
	&:visited {
		color:$bright-blue;
		&:hover {
			color:$dark-blue;
			}
		}	
		
	@include respond-min($medium) {
		padding: lh(.33) lh(1);
		}

	}

.nav-tab__link--active {	
	background-color:#fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid $blue-tint;
	border-right: 1px solid $blue-tint;
	border-spacing:0;
	border-top: 2px solid $dark-blue;
	color:$dark-blue;
	cursor: default; 
	margin-left:0;
	}
		
.nav-tabs--centered {

	@include respond-min($medium) {
		float:left;
		margin-left: auto;
		margin-right: auto;
		overflow:hidden;
		position:relative;
		width:100%;
		}
		
	.nav-tab__list {
		clear:left;
		float:left;
		left:50%;
		margin:0;	
		position:relative;
		text-align:center;
		}

	.nav-tab__item {
		position:relative;
		right:50%;
		}

	}
	
	
.nav-breadcrumb {
	display:block;
	}
	
.nav-breadcrumb__list {
	@include clearfix();
	}
		
.nav-breadcrumb__item {
	display:block;
	float:left;
	margin:0;
	padding:0;
	&:last-child {
		opacity:0.5;
		}
	}
	
.nav-breadcrumb__link {
	display:block;
	margin:0;
	padding:0;
	
	&:hover {
		opacity:0.66;
		}
		
	&:after {
		border-bottom:none;
		content:'\E802';	
		font-family:"fontello";
		font-size:80%;
		margin-left:lh(.5);
		margin-right:lh(.5);
		padding:0;
		}
		
	}