// Navigation
//
//
//
// Styleguide 13.0

// Off Canvas
//
//
//
// Styleguide 13.1

// Top bar
//
//
//
//
// Styleguide 13.2

// Simple side navigation
//
//
//
// Styleguide 13.3

// Nav tabs
//
//
//
//
// Styleguide 13.4


// Breadcrumbs
//
//
//
//
//
// Styleguide 13.5
	
.nav {
	list-style-type:none;
	
	ul, ol {
		list-style-type:none;
		}
		
	a {
		text-decoration:none;
		}
		
	}
	
.js-trigger__nav--utility {
	display:block;
	@include respond-min($large) {
		display:none !important;
		}
	}
	
.js-panel__nav--utility {
	display:none;
	@include respond-min($large) {
		display:block !important;
		}
	}


.utility-link {
	color:#fff;
	display:block;
	height:rem(48px);
	padding-top:rem(8px);
	position:absolute;
	top:0;
	right:rem(52px);
	text-align:center;
	width:rem(52px);
	z-index:999;
	
	&:active, &.active {
		background-color:#fff;
		i {
			color:$primary-color;
			}
		}
		
	@include respond-min($medium) {
		display:none;
		}
		
	}
		

.fixed .nav-primary {	
	@include respond-min($large) {
		-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.50);
		-moz-box-shadow: 0 8px 6px -6px  rgba(0,0,0,0.50);
		box-shadow: 0 8px 6px -6px rgba(0,0,0,0.50);
		}
		
	@include old-ie {
		float:none;
		margin-left:0px !important;
		width:1200px !important;
		}

	}
	
.fixed-logo {
	display:none;
	}
	
.fixed .fixed-logo {	
	@include respond-min($large) {
		display:block;
		float:left;
		max-width:160px;
		}
	}
	
.nav-primary {
	@include respond-min($large) {
		background-color:#fff;
		border-bottom:4px solid $bright-blue;
		border-top:1px solid $light-grey-2;
		position:relative;
		}	
	}
	
.nav-primary__list {
	@include respond-min($large) {
		height:rem(50px);
		margin:0 auto;
		padding:0;
		}
			
	}
		
.nav-primary__item { 
	@include respond-min($large) {
		border:none;
		float: left; 
		margin:0;
		overflow:visible;
		padding:0;
		width:auto;
		}
	}
				
.nav-primary__link {
	@include respond-min($large) {
		border-right:1px solid $light-grey-2;
		color:$dark-blue;
		display:block;
		font-family:$primary-font;
		font-size:rem(16px);
		height:rem(50px);
		line-height:rem(50px);
		padding:0 lh(.66);
		text-align:center;
		
		&:hover,
		&:focus {
			background-color:$bright-blue;
			border-right:1px solid $bright-blue;
			color:#fff;
			text-decoration:none;
			}
			
		&:visited {
			color:$dark-blue;
			
			&:hover {
				color:#fff;
				}
			}
				
		@include old-ie {
			height:rem(50px) !important;
			line-height:rem(50px) !important;
			}
			
		i {
			opacity:0.5;
			visibility: visible;
			}
				
		}
		
	@include respond-min(75em) {
		padding:0 lh(1);
		}
				
	@include respond-min($xlarge) {
		padding:0 lh(1.66);
		}
	
	}
	
	
.nav-primary__list li:first-child .nav-primary__link {
	@include respond-min($large) {	
		border-left:1px solid $light-grey-2;
		}
	}
	
.selected .nav-primary__link {
	@include respond-min($large) {	
		background-color:$bright-blue;
		color:#fff;
		}
	}
	
.nav-primary__list .icon-search {
	
	margin-top:rem(8px);
	
	&:visited {
		color:$dark-blue;
		
		&:hover {
			color:$bright-blue;
			}
			
		}
		
	}
		
@include respond-min($large) {	
	.submenu {
		margin-bottom:rem(45px);
		}
		
	.nav-secondary {
		background-color:$bright-blue;
		display:block !important;
		font-family:$primary-font;
		left:0;
		position:absolute;
		top:rem(50px);
		width:100%;
		}
		
	.nav-secondary__list {
		@include clearfix();
		display:block;
		margin-left:auto;
		margin-right:auto;
		max-width: 1200px;
		width: 100%;		
		}
		
	.nav-secondary__item {
		@include clearfix();
		display:block;
		float:left;
		}
		
	.nav-secondary__link {
		color:#fff;
		display:block;
		font-family:$primary-font;
		font-size:rem(14px);
		height:rem(45px);
		line-height:rem(45px);
		padding:0 lh(1.66);
		text-align:center;
		
		&:hover {
			color:$dark-blue;
			}
			
		&:visited {
			color:#fff;
			
			&:hover {
				color:$dark-blue;
				}
			}
		}
		
	}
		
		
.nav-secondary__item.selected .nav-secondary__link {
	@include respond-min($large) {	
		border-bottom:4px solid #fff;
		}
	}

.nav-vertical {
	@include respond-min($large) {
		padding-right:lh(1.66);
		}
	}		
		
.nav-vertical__list {
	background-color:$blue-tint;
	display:block;
	padding:0 lh(1);
	}
	
.nav-vertical__item {
	display:block;
	}
	
.nav-vertical__link {
	border-left:4px solid #fff;
	color:$bright-blue;
	display: block;
	font-family:$primary-font;
	font-size:rem(16px);
	font-weight:normal;
	padding: lh(.25) 0 lh(.25) lh(.66);
	text-decoration: none;
	
	&:hover {
		border-left:4px solid $dark-blue;
		color:$dark-blue !important;
		text-decoration:none;
		}	
		
	&:visited {
		color:$bright-blue;
		}
		
	}
	
.selected .nav-vertical__link {
	border-left:4px solid $dark-blue;
	color:$dark-blue;
	}
	
.nav--breadcrumb {
	> li {
		display:inline-block;
		}
	}

.js-toggle {
	&:hover {
		cursor:pointer;
		}
	}
	
.nav-tabs {
	@include clearfix();
	display:block;
	font-family:$primary-font;
	}
	
.nav-tabs--centered {

	@include respond-min($medium) {
		margin-left: auto;
		margin-right: auto;
		overflow:hidden;
		position:relative;
		width:100%;
		}
		
	.nav-tabs__list {
		clear:left;
   		float:left;
		left:50%;	
		position:relative;
		}
		
	.nav-tabs__item {
		right:50%;
		}
		
	}
	
	
.nav-tabs__list {
	@include respond-max(48em) {
		margin-bottom:lh(1);
		margin-top:lh(1);
		}
	@include respond-min($medium) {
	   	padding:0;
		text-align:center;
		}
		
	}
		
.nav-tabs__item {
	display:block;
	padding:0;
	
	@include respond-min($medium) {
		float:left;
		margin:0;
		position:relative;
		width:auto;
		}
		
	}	
	
.nav-tabs__link {
	color:$bright-blue;
	border-bottom: 1px solid darken($blue-tint, 5%);
	display:block;
	padding:lh(.5);
	
	&:visited {
		color:$bright-blue;
		}
			
	@include respond-max(48em) {
		position:relative;
		&:after {
			color:$orange;
			content: '\e802'; 
			display:inline-block;
			font-family:"fontello";
			position:absolute;
			right:0;
			top:lh(.5);
			}
			
		}
			
	@include respond-min($medium) {
		background-color:darken($dark-blue, 10%);
		border-bottom:none;
		border-top:4px solid transparent;
		color:#fff;
		font-size:rem(16px);
		margin-right:lh(.25);
		padding:lh(.5) lh(1);
		text-align:center;
		
		&:visited {
			color:#fff;
			}
				
		&:hover {
			background-color:#fff;
			color:$bright-blue;
			text-decoration:none;
			}
			
		}
		
	@include respond-min($large) {
		padding:lh(.5) lh(1.66);
		}
		
	}
	
	
.active .nav-tabs__link {		
	
	@include respond-max(48em) {
		background-color: darken($blue-tint, 5%);
		color:$dark-blue;
		position:relative;
		
		&:after {
			content: none; 
			}
			
		}
		
	@include respond-min($medium) {
		background-color:#fff;
		border-bottom: none;
		border-top:4px solid $bright-blue;
		color:$bright-blue;
		}

	}
	