.panel {
	@include clearfix();
	background-color:transparent;
	display:block;
	margin-bottom:lh(.75);
	padding:lh(.66) lh(1.33);
	text-decoration:none;
	}
		
.panel--deep {
	display:block;
	padding:lh(1.66);
	}
		
.panel--medium {
	@include respond-min($medium) {
		background-color:transparent;
		display:block;
		margin-bottom:lh(.75);
		padding:lh(.5) lh(1);
		text-decoration:none;
		}
	}
	
.panel--large {
	@include respond-min($large) {
		background-color:transparent;
		display:block;
		margin-bottom:lh(1);
		padding:lh(.66) lh(1.33);
		text-decoration:none;
		}
	}		
	
.panel--hd {
	border-bottom:1px dotted #ccc;
	border-top:3px solid #ccc;
	color:#666;
	font-size:rem(21px);
	font-weight:normal;
	margin:lh(.25) 0;
	padding:lh(.33) 0 lh(.66) 0;
	}	

.panel--desktop {
	padding:0;
	@include respond-min($large) {
		padding:lh(.66);
		}
	}

.panel-intro {
	background-color:tint($light-grey-1,75%);
	background-color:$blue-tint;
	border-bottom:1px solid $light-grey-2
	}

.border--light-grey-2 {
	border:1px solid $light-grey-2
	}
		
.outline {
	border:1px solid $mid-grey-2;
	}
	
.outline--light {
	border:1px solid $light-grey-2;
	}
	
.round {
	@include border-radius(4px);
	}
	
.circle {
	@include border-radius(50%);
	display:inline-block;
	height:lh(1.5);
	line-height:lh(1.5);
	overflow:hidden;
	text-align:center;
	width:lh(1.5);
	}
	
.circle--small {
	height:lh(.66);
	line-height:lh(.66);		
	width:lh(.66);	
	}
	
.circle--medium {
	height:rem(48px);
	line-height:rem(48px);
	width:rem(48px);
	@include respond-min($large)  {
		height:rem(60px);
		line-height:rem(60px);
		width:rem(60px);
		}		
	@include respond-min($xlarge)  {
		height:rem(72px);
		line-height:rem(72px);
		width:rem(72px);
		}	
		
	}
		
.circle--large {
	height:rem(120px);
	line-height:rem(120px);
	width:rem(120px);
	}
	
.circle--text {	
	border-radius: 50%;
	display: block;
	font-size: 2.625rem;
	height: 5.49rem;
	line-height: 5.49rem;
	text-align: center;
	width: 5.49rem;
	}
	
.panel--flush {
	@include respond-max(48em) {
		background-color:#fff;
		border:none;
		margin:0;
		padding:0;
		}
	}
	
.circle--palette {
	display:table;
	padding-bottom:100%;
	width:100%;
	}
	
.circle--palette__inner {
	display: table-cell;
    vertical-align: middle;
	}
	
.panel--grid {
	background-color:$blue-tint;
	color:$dark-grey-1;	
	font-family:$dark-blue;
	font-size:rem(13px);
	margin-bottom:lh(1);
	padding:lh(1) 0;
	}

.panel-page-header {
//	margin-top:lh(1);
	@include respond-min($medium)  {
//		-webkit-box-shadow: inset 0 -10px 30px -10px rgba(150,150,150,.5);
//		-moz-box-shadow: inset 0 -10px 30px -10px rgba(150,150,150,.5);
//		box-shadow: inset 0 -10px 30px -10px rgba(150,150,150,.5);
//		margin-top:lh(2.66);
		padding-bottom: rem(140px);
		padding-top: lh(1);
		}
	}

.radius--50 {
	border-radius: 50%;
	}
