.sp-search-results {
 	.ms-srch-group-content {
		font-family:$secondary-font;
		}
		
	.ms-srch-item {
		border-bottom:1px solid $light-grey-2;
		clear: both;
		margin: 10px 0px 10px -10px;
		max-width:rem(800px);
		overflow: hidden;
		padding: 5px 20px 5px 10px;
		width: 100%;
		}
		
	.ms-srch-item-link {
		font-family:$primary-font;
		font-size:rem(28px);
		font-weight:normal;
		}
		
	.ms-srch-item-path {
		color:$grey;
		font-size:rem(14px);
		width:100%;
		}
		
	.ms-ref-refinername {
		color:$bright-blue;
		font-family:$primary-font;
		}
		
	.ms-ref-name {
		border-bottom:1px solid $light-grey-2;
		display:block;
		font-family:$secondary-font;
		font-size:rem(14px);
		padding:lh(.15) 0;
		}
		
	.ms-srch-hover-outerContainer {
		@include respond-max(60em){
			display:none !important;
			}
		}
		
	}
	
	

.panel--pull-up {
	@include respond-min($medium)  {
		margin-top: -120px;
		}
	}

.panel--push-down {
	@include respond-min($medium)  {
		padding-bottom: 140px;
		}
	}	
	
	
.panel-text-home {
	margin-bottom:lh(1);
	@include respond-min($medium)  {
		margin-bottom:lh(2);
		}
			
	/*@include respond-min($large)  {
		height:rem(100px);
		}
	
	@include respond-min($xlarge)  {
		height:rem(80px);
		}*/
		
	}
	
.panel-text-landing {  	
	margin-bottom:lh(1);
	@include respond-min($medium)  {
		margin-bottom:lh(2);
		}
	}
	
.item {
	@include respond-max(47.95em)  {
		height:auto !important;
		}	
	}
	
.btn--item {
	@include respond-min($medium)  {
		bottom:lh(1);
		position:absolute;
		}
	}
	
.overlay {
	position:relative;
	&:after {
		background:rgba(0,0,0, .75); 
		bottom:0;
		content:'';
		display:block;
		left:0; 
		position:absolute; 
		right:0; 
		top:0; 
		z-index:0;
		}
	}
	
.overlay_caption {
	bottom:lh(1);
	left:lh(1);
	position:absolute; 
	z-index:1;
	
	@include respond-min($medium)  {
		bottom:lh(2);
		left:lh(2);
		width:50%;
		}
		
	}