.sp-search-results {
 	.ms-srch-group-content {
		font-family:$secondary-font;
		}
		
	.ms-srch-item {
		border-bottom:1px solid $light-grey-2;
		clear: both;
		margin: 10px 0px 10px -10px;
		max-width:rem(800px);
		overflow: hidden;
		padding: 5px 20px 5px 10px;
		width: 100%;
		}
		
	.ms-srch-item-link {
		font-family:$primary-font;
		font-size:rem(28px);
		font-weight:normal;
		}
		
	.ms-srch-item-path {
		color:$grey;
		font-size:rem(14px);
		width:100%;
		}
		
	.ms-ref-refinername {
		color:$bright-blue;
		font-family:$primary-font;
		}
		
	.ms-ref-name {
		border-bottom:1px solid $light-grey-2;
		display:block;
		font-family:$secondary-font;
		font-size:rem(14px);
		padding:lh(.15) 0;
		}
		
	.ms-srch-hover-outerContainer {
		@include respond-max(60em){
			display:none !important;
			}
		}
		
	}