// Tables
//
// Styleguide 15.0

// Default Table
//
// For basic styling—light padding and only horizontal dividers—add the base class `.table` to any `<table>`.
//
// Styleguide 15.1

// Table styles
//
// Add any of the following classes to the `.table` base class.
//
// .table--striped  - Adds zebra-striping to any table row within the `<tbody>` via the `:nth-child` CSS selector (not available in IE7-8).
// .table--plain  - Adds horizontal row underline only
// .table--hover  - Enable a hover state on table rows within a `<tbody>`.
// .table--condensed - Makes tables more compact by cutting cell padding in half.
//
// Markup:
// <table class="table {$modifiers}" summary="Interest rates start at 1.6% for Young Savers accounts and at 2% for Smart accounts">
//   <thead>
//     <tr>
//       <th>No.</th>
//       <th>First Name</th>
//       <th>Last Name</th>
//       <th>Username</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td>1</td>
//       <td>Mark</td>
//       <td>Otto</td>
//       <td>@mdo</td>
//     </tr>
//     <tr>
//       <td>2</td>
//       <td>Jacob</td>
//       <td>Thornton</td>
//       <td>@fat</td>
//     </tr>
//     <tr>
//       <td>3</td>
//       <td>Larry</td>
//       <td>the Bird</td>
//       <td>@twitter</td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide 15.2



.table {
	border-top:2px solid $dark-blue;
	font-size:rem(18px);
	margin:0 0 lh(1) 0;
	width:100%;
	
	@include respond-min($medium) {
		line-height:lh(1);
		}
		
	tr {
		border-bottom:1px solid $light-grey-2;
		}
		
	th {
		background-color:$light-grey-1;
		color:$dark-blue;
		font-family:$secondary-font-bold;
		font-style:normal;
		font-weight:normal;
		line-height:lh(.75);
		min-height:lh(2);
		padding:lh(.66) 3%;
		text-align:left;
		vertical-align:bottom;
		}		
	td {
		padding:lh(.33) 3%;
		text-align:left;
		}		 
	}
	
.table--plain {
	border-top:none;
	th {
		background-color:#fff;
		color:$dark-grey-3;
		}		 
	}

// CONDENSED TABLE W/ HALF PADDING
// -------------------------------

.table--condensed {
	font-size:rem(15px);
	th, td {
		padding:lh(.33) 1.5%;
		}
	}


// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table--striped {
  tbody {
    > tr:nth-child(even) > td,
    > tr:nth-child(even) > th {
      background-color: $light-grey-1;
    }
  }
}


// HOVER EFFECT
// ------------
// Placed here since it has to come after the potential zebra striping
.table--hover {
  tbody {
    tr:hover > td,
    tr:hover > th {
      background-color: lighten($yellow, 20%);
    }
  }
}

