// Tabs
//
// Tabs are elements that help you organize and navigate multiple documents in a single container. They can be used for switching between items in the container.
//
// Markup:
//<dl class="cf tabs tabs__list">
//  <dd class="active tabs__item">
//    <a href="#simple1" class="tabs__link">
//      Tab 1
//    </a>
//  </dd>
//  <dd class="tabs__item">
//    <a href="#simple2" class="tabs__link">
//      Tab 2
//    </a>
//  </dd>
//  <dd class="tabs__item">
//    <a href="#simple3" class="tabs__link">
//      Tab 3
//    </a>
//  </dd>
//  <dd class="tabs__item">
//    <a href="#simple4" class="tabs__link">
//      Tab 4
//    </a>
//  </dd>
//</dl>
//<ul class="cf tabs__content">
//  <li id="simple1Tab" class="active soft">
//    First panel content goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
//  </li>
//  <li id="simple2Tab" class="soft">
//    Second panel content goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
//  </li>
//  <li id="simple3Tab" class="soft">
//    Third panel content goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
//  </li>
//  <li id="simple4Tab" class="soft">
//    Fourth panel content goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
//  </li>
//</ul>
//
// Styleguide 15.0


	
// Responsive tabs to accordion
//
//  Easy responsive tabs is a lightweight jQuery plugin which optimizes normal horizontal or vertical tabs to accordion on multi devices like: web, tablets, Mobile (IPad & IPhone). This plugin adapts the screen size and changes its form accordingly. <a href="https://github.com/samsono/Easy-Responsive-Tabs-to-Accordion">Easy responsive tabs on Github</a>
// 
// Markup:
//<div id="horizontalTab">
// <ul class="resp-tab__list">
//   <li class="resp-tab__item">
//     Tab 1
//   </li>
//   <li class="resp-tab__item">
//      Tab 2
//   </li>
//   <li class="resp-tab__item">
//      Tab 3
//   </li>
//   <li class="resp-tab__item">
//      Tab 4
//   </li>
//  </ul>
//  <div class="resp-tabs__container">
//    <div>
//       First panel content goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
//    </div>
//    <div>
//      Second panel content goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
//    </div>
//    <div>
//      Third panel content goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
//    </div>
//    <div>
//      Fourth panel content goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
//    </div>
//  </div>
//</div>	
//
// Styleguide 15.1	



.tabs { 
	@include clearfix();
	border-bottom: solid 1px $light-grey-2;
	display: block; 
	font-family:$primary-font;
	height:rem(48px);
	list-style: none;
	margin-bottom:lh(); 
	padding: 0 lh(.33); 
	}
	
.tabs__item { 
	display: block; 
	float: left; 
	margin: 0; 
	padding: 0;
	}

.tabs__link { 
	background-color:$blue-tint;
	border-left: 1px solid $blue-tint;
	border-top: 2px solid $blue-tint;
	color:$bright-blue;
	display: block; 
	font-size:rem(16px);
	height:rem(48px);
	line-height:rem(48px);
	padding: 0 lh(1);
	text-decoration:none;
	
	&:visited {
		color:$bright-blue;
		}
		
	&:hover {
		color:$dark-blue;
		cursor: pointer; 
		text-decoration:none;
		}
		
	@include respond-min($medium) {
		font-size:rem(18px);
		padding: 0 lh(1);
		}
		
	}
	
.active .tabs__link  { 
	background-color:#fff;
	border-left: 1px solid $blue-tint;
	border-right: 1px solid $blue-tint;
	border-top: 2px solid $dark-blue; 
	color:$dark-blue;
	cursor: default; 
	text-shadow:none;
	}
	
ul.tabs__content { 
	display: block; 
	margin: 0 0 20px 0;
	}

ul.tabs__content > li { 
	display: none; 
	}

ul.tabs__content > li.active { 
	display: block; 
	margin:0;
	padding:0;
	}

.no-js ul.tabs__content > li { 
	display: block;
	}
	
	
.tabs--pull-up {
	
	border-bottom: none;
	margin-top:-72px;

	.tabs__link {
		background-color:rgba(0, 0, 0, .2);
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		
		@include old-ie {
			background-color:transparent;
			background-image:url(../images/common/ie-black-opacity-20.png);
			}
			
		border-top: none;
		border-bottom:none;
		margin-right:2px;
		color:#fff;
		font-size:em(15px);
		
		&:hover {
			background-color:rgba(0, 0, 0, .4);
			
			@include old-ie {
				background-color:transparent;
				background-image:url(../images/common/ie-black-opacity-40.png);
				}
				
			border-bottom: none;
			color:#fff;
			}
		
		&:visited {
			color:#fff;
			}
			
		}
		
	.active .tabs__link  { 
		background-color:#fff;
		border-bottom: 1px solid #fff;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		border-top: 2px solid $bright-blue;
		color:$bright-blue;
		cursor: default; 
		text-shadow:none;
		
		@include old-ie {
			background-image:none;
			}
		
		}
		
	}
	
	
	
	
	
	
	
	
	
	
	

.resp-tab__list {
	@include clearfix();
	border-bottom: solid 1px $light-grey-3;
	display: block; 
	font-family:$secondary-font;
	height:rem(48px);
	list-style: none;
	margin-bottom:lh(); 
	padding: 0 lh(.33); 
	}

.resp-tab__item {
	background-color:#fff;
	border-bottom: solid 1px $light-grey-3;
	border-right: #fff;
	border-top: 2px solid #fff;
	color:$dark-grey-1;
	cursor: pointer;
	display: block;
	float: left;
	height:rem(48px);
	line-height:rem(48px);
	list-style: none;
	margin:0;
	padding: 0 lh(1);
	
	&:hover {
		background-color:$light-grey-1;
		cursor: pointer; 
		}
		
	}
	
.resp-tab__list .resp-tab--active, 
.resp-tab__list .resp-tab--active:hover {
	background-color:#fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid $light-grey-3;
	border-right: 1px solid $light-grey-3;
	border-top: 2px solid $secondary-color; 
	color:$dark-grey-3;
	cursor: pointer;
	text-shadow:none;
	}
		
.resp-content--active, 
.resp-accordion--active {
	display: block;
	}

.resp-tabs__container {
	background-color: #fff;
	clear: left;
	padding: 0px;
	@include respond-min($large) {
		padding: lh(.66) 0;
		}
	}

.resp-accordion {
	background-color: #fff;
	border-top:2px solid $primary-color;
	color:$dark-grey-3;
	cursor: pointer;
	display: none;
	font-family:$primary-font;
	margin: 0;
	padding:lh(.66) 0 lh(.66) lh(1);
	position:relative;
	}
	
.resp-accordion:after {	
	color:$secondary-color;
	content: '\E80A'; 
	display: block; 
	font-family:"fontello";
	font-size:rem(21px);
	position:absolute;
	left:0;
	top:lh(.5);
	}
	
.resp-accordion.resp-tab--active:after {	
	content: '\E808'; 
	}
	
.resp-tab__content {
	display: none;
	}

.resp-tab-title:last-child {
	border-bottom: 12px solid $mid-grey-1;
	background: blue;
	}
	
/*-----------Accordion styles-----------*/

.resp-tabs__container .resp-tab--active {
	color:$primary-color;
	}
	
.resp-easy-accordion .resp-accordion {
	display: block;
	}
	
.resp-easy-accordion .resp-tab__content {
	border: 1px solid $mid-grey-1;
	}

.resp-easy-accordion .resp-tab__content:last-child {
	border-bottom: 1px solid $mid-grey-1;
	}

.resp-jfit {
	margin: 0px;
	width: 100%;
	}

.resp-tab__content--active {
	display: block !important;
	}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@include respond-max(59.95em) {
	
    ul.resp-tab__list {
        display: none;
    	}

    .resp-accordion {
        display: block;
		width:100%;
    	}

    .resp-accordion--closed {
        display:none !important;
    	}

	}
	
.resp-arrow {
	display:none;
	}