// Tooltips
//
// Tooltips are a quick way to provide <span data-tooltip class="has-tip" title="extended information">extended information</span> on a term or action on a page.
//
//Styleguide 16.0

// Building With HTML Classes
//
//Markup:
//<span data-tooltip class="has-tip" title="This is an example of extended information with a tooltip">
//  extended information
//</span>
//
// Styleguide 16.1


/* Tooltips ---------------------- */
.has-tip { 
	border-bottom: dotted 1px #cccccc; 
	cursor: help; 
	}
	
.has-tip:hover { 
	border-bottom: dotted 1px #196177; 
	color: #2ba6cb; 
	}

.tooltip { 
	background: black; 
	background: rgba(0, 0, 0, 0.85); 
	color: white;
	display: none; 
	font-size: rem(12px);
	line-height: normal;
	padding: lh(.33);
	position: absolute; 
	z-index: 999; 
	}
	
.tooltip > .nub { 
	border: solid 5px; 
	border-color: transparent transparent black transparent; 
	border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent; 
	display: block; 
	height: 0; 
	left: 10px; 
	position: absolute; 
	top: -10px; 
	width: 0;
	}

.tooltip.tip-override > .nub { 
	border-color: transparent transparent black transparent !important; 
	border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent !important; 
	top: -10px !important;
	}
	
.tooltip.tip-top > .nub { 
	border-color: black transparent transparent transparent; 
	border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent; 
	left: 10px;
	top: -10px; 
	}
	
.tooltip.opened { 
	border-bottom: dotted 1px #196177 !important;
	color: #2ba6cb !important; 
	}

.tap-to-close { display: block; font-size: rem(10px); color: #888888; font-weight: normal; }


@media only screen and (max-width: 767px) { 
	.tooltip { 
		
		float:none;
		font-size: rem(14px); 
		left: 50% !important; 
		line-height: 1.4;
		margin-left: -42.5%;
		max-width: 85% !important; 
		padding: 7px 10px 9px 10px; 
		width: auto !important; 
		}
		
	.tooltip > .nub, 
	.tooltip.top > .nub { 
		border-color: transparent transparent black transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
		left: auto !important;
		right: 6%!important;
		top: -12px; 
		}
		
	}
	
	
	
	
	
	
	
	
	
	
	
	
	

