// Typography
//
//
//
// Styleguide 17.0


// Standard Life Font
// 
// <div class="row primary-font">
//   <div class="col large-6 soft-right--large">
//     <p class="primary-font">We have our own font called Standard Life font.</p> 
//     <p class="primary-font">It is unique to Standard Life.</p>
//     <p class="primary-font">It is the only font that should be used for headlines, titles, headers, sub heads.</p>
//     <p class="primary-font">It can also work well for short body copy, especially at larger sizes.</p>
//     <p class="soft-half bg-blue-tint">To use Standard Life add <code>class="primary-font"</code> or <code>class="primary-font-bold"</code> to the required tag or parent element or include <code>font-family:$primary-font</code> or <code>font-family:$primary-font-bold"</code> in the css class</p>
//   </div>
//   <div class="col small-6 large-3 primary-font dark-blue">
//    <div class="peta">Aa1</div>
//    <div class="beta">Regular</div>
//   </div>
//   <div class="col small-6 large-3 dark-blue">
//     <div class="peta primary-font-bold">Aa1</div>
//     <div class="beta primary-font-bold">Bold</div>
//   </div>
// </div>
//
//
//
// Styleguide 17.1


// Meta Standard Life Pro TF
//
// <div class="row secondary-font">
//   <div class="col large-6 soft-right--large"> 
//     <p>For general body copy, and tables and charts, we use our own version of Meta called &ldquo;Meta Standard Life Pro TF&rdquo;.</p>
//     <p class="soft-half bg-blue-tint">To use Meta Standard Life  add <code>class="secondary-font"</code> or <code>class="secondary-font-bold"</code> to the required tag or parent element or include <code>font-family:$secondary-font</code> or <code>font-family:$secondary-font-bold"</code> in the css class</p>
//   </div>
//   <div class="col small-6 large-3 bright-blue secondary-font">
//     <div class="peta">Aa1</div>
//     <div class="secondary-font">Regular</div>
//  </div>
//   <div class="col small-6 large-3 bright-blue">
//     <div class="peta secondary-font-bold">Aa1</div>
//     <div class="beta secondary-font-bold">Bold</div>
//   </div>
// </div>
//
//
//
// Styleguide 17.2


// Arial
// 
// <div class="row arial">
//   <div class="col large-6 soft-right--large">
//     <p class="arial">We use Arial for day to day use of Microsoft software or for web where a generic font is required.</p> 
//     <p class="soft-half bg-blue-tint"> We don't use any other fonts</p>
//   </div>
//   <div class="col small-6 large-3 arial dark-blue">
//    <div class="peta">Aa1</div>
//    <div class="beta">Regular</div>
//   </div>
//   <div class="col small-6 large-3 dark-blue">
//     <div class="peta arial"><strong>Aa1</strong></div>
//     <div class="beta arial"><strong>Bold</strong></div>
//   </div>
// </div>
//
//
//
// Styleguide 17.3


// Sizes and recommendations
//
// <p class="giga"> A modular scale </p>
// <p> The term Modular Scale refers to a series of harmonious values. As part of the patterns library _typography.scss has a default responsive modular scale tied to the classes below. Note, this is for illutrative purposes only. Each project and a suitable modular scale should be just on an individual basis. </p>
// <div class="dark-blue secondary-font">
//   <div class="tera push-half--bottom"> .Tera </div>
//   <div class="giga push-half--bottom"> .Giga </div>
//   <div class="mega push-half--bottom"> .Mega </div>
//   <div class="alpha push-half--bottom"> .Alpha </div>
//   <div class="beta push-half--bottom"> .Beta </div>
//   <div class="gamma push-half--bottom"> .Gamma </div>
//   <div class="delta push-half--bottom"> .Delta </div>
//   <div class="epsilon push-half--bottom"> .Epsilon </div>
// </div>
//
// Styleguide 17.4


// Color recommendations
//
// <p> Text should only appear at 100% colour on all backgrounds </p>
// <div class="row">
//   <div class="col medium-4 bg-dark-blue white soft push--bottom">
//    <div class="primary-font mega white"> Text in 100% white </div>
//    <div class="primary-font mega bright-blue"> Text in 100% bright-blue </div>
//    <div class="primary-font mega yellow"> Text in 100% yellow </div>
//   </div>
//   <div class="col medium-4 bg-white white soft push--bottom border border--dark-blue">
//     <div class="primary-font mega dark-blue"> Text in 100% dark-blue </div>
//     <div class="primary-font mega bright-blue"> Text in 100% bright-blue </div>
//     <div class="primary-font mega grey"> Text in 100% grey </div>
//   </div>
// </div>
// <div class="row">
//   <div class="col medium-4 bg-white soft push--bottom border border--dark-blue">
//     <div class="primary-font alpha yellow"> Avoid using yellow text on white backgrounds </div>
//   </div>
//   <div class="col medium-4 bg-white soft push--bottom border border--dark-blue">
//     <div class="primary-font alpha orange"> Avoid using orange text on white backgrounds </div>
//   </div>
//   <div class="col medium-4 bg-dark-blue soft push--bottom border border--dark-blue">
//     <div class="primary-font alpha orange"> Avoid using orange text on blue backgrounds </div>
//   </div>
// </div>
//
// Styleguide 17.5


@font-face {
	font-family: 'standard_liferegular';
	src: url('../webfonts/standardlife/standardlife-regular-webfont.eot');
	src: url('../webfonts/standardlife/standardlife-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../webfonts/standardlife/standardlife-regular-webfont.woff') format('woff'),
		 url('../webfonts/standardlife/standardlife-regular-webfont.ttf') format('truetype'),
		 url('../webfonts/standardlife/standardlife-regular-webfont.svg#standard_liferegular') format('svg');
	font-weight: normal;
	font-style: normal;
	
	}
	
@font-face {
	font-family: 'standard_lifebold';
	src: url('../webfonts/standardlife/standardlife-bold-webfont.eot');
	src: url('../webfonts/standardlife/standardlife-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../webfonts/standardlife/standardlife-bold-webfont.woff') format('woff'),
		 url('../webfonts/standardlife/standardlife-bold-webfont.ttf') format('truetype'),
		 url('../webfonts/standardlife/standardlife-bold-webfont.svg#standard_lifebold') format('svg');
	font-weight: normal;
	font-style: normal;
	}
		
@font-face {
    font-family: 'metabook-sl';
    src: url('../webfonts/meta-sl/metastandardlifeprotf-norm-webfont.eot');
    src: url('../webfonts/meta-sl/metastandardlifeprotf-norm-webfont?#iefix') format('embedded-opentype'),
         url('../webfonts/meta-sl/metastandardlifeprotf-norm-webfont.woff') format('woff'),
         url('../webfonts/meta-sl/metastandardlifeprotf-norm-webfont.ttf') format('truetype'),
         url('../webfonts/meta-sl/metastandardlifeprotf-norm-webfont.svg#metabook-romanregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'metabold-sl';
    src: url('../webfonts/meta-sl/metastandardlifeprotf-bold-webfont.eot');
    src: url('../webfonts/meta-sl/metastandardlifeprotf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/meta-sl/metastandardlifeprotf-bold-webfont.woff') format('woff'),
         url('../webfonts/meta-sl/metastandardlifeprotf-bold-webfont.ttf') format('truetype'),
         url('../webfonts/meta-sl/metastandardlifeprotf-bold-webfont.svg#metabold-romanregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	
	
body {
	color:$grey;
	font-family:$font-family;
	font-size:$font-base;
	line-height:$font-base-line-height;
	text-rendering: optimizeLegibility;
	}
	
.primary-font {
	font-family:$primary-font;
	}
	
.primary-font-bold {
	font-family:$primary-font-bold;
	}
	
.secondary-font	 {
	font-family:$secondary-font;	
	}
	
.secondary-font-bold {
	font-family:$secondary-font-bold;	
	}
	
.arial {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
	
	
	
/* Modular Scale http://modularscale.com/scale/?px1=16&px2=32&ra1=1.618&ra2=0 */
.peta {
	font-size:rem(68px);
	line-height: 1.05;
	
	@include respond-min($medium) {
		font-size:rem(82px);
		line-height:1.125;
		}
		
	@include respond-min($large) {
		font-size: rem(110px);
		line-height:1.05
		}
		
	}

.tera {
	font-size:rem(32px);
	line-height: 1.05;
	
	@include respond-min($medium) {
		font-size:rem(40px);
		line-height:1.125;
		}
		
	@include respond-min($large) {
		font-size: rem(44px);
		line-height:1.05
		}
		
	}

.giga { 
	font-size:rem(26px);
	line-height:1.15;
	
	@include respond-min($medium) {
		font-size:rem(32px);
		line-height:1.25;
		}
		
	@include respond-min($large) {
		font-size:rem(36px);
		line-height:1;
		}
	}

.mega { 
	font-size:rem(22px);
	line-height: 1.136;
	
	@include respond-min($medium) {
		font-size:rem(24px);
		line-height:1.25;
		}
		
	@include respond-min($large) {
		font-size:rem(28px);
		line-height:1.25;
		}
		
	}

.alpha { 
	font-size:rem(18px);
	line-height: 1.1;	
	@include respond-min($medium) {
		line-height:1.2;
		}		
	}

.beta {  
	font-size:rem(16px);
	line-height:1.35;
	}

.gamma {  
	font-size:rem(14px);
	line-height:1.2;
	}	

.delta {  
	font-size:rem(12.4px);
	line-height:1.1;
	}

.epsilon {  
	font-size:rem(9.88px);
	line-height:1.4;
	}

.zeta {  
	
	}
	

body {
	font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight:normal;
	}

h1 {
	font-family:$primary-font;
	}

h1,
h2,
h3,	
h4,
h5,
h6 {	
	 font-family:$primary-font;
	 font-weight:normal;
	}
	
p
li,
dd,
table,	
figure, 
figcaption {
	font-family:$secondary-font;
	}
	
p  {
	font-family:$secondary-font;
	font-size:rem(18px);
	font-weight:normal;
	margin-bottom:rem(24px);
	}

a {
	color:$bright-blue;
	text-decoration:none;
	
	&:hover {
		color:$dark-blue;
		text-decoration:none;
		}
		
	}
		
.run-in {
	font-size:rem(18.7px);
	line-height:lh(.88);
	margin-bottom:lh(.66);
	}

ul, ol {
	margin:0;
	}
	
ul {
	list-style-type:disc;
	}
	
ol{
	list-style-type:decimal;
	}

.editor {
	ul, ol {
		margin:0 0 0 1rem;
	}
}

figure.quote {
	border-left: 6px solid $dark-blue;
	color:$dark-blue;
	font-family:$secondary-font;
	font-size:rem(26px);
	font-weight:normal;
	line-height:1;
	margin:lh(1) 0;
	padding:0 lh(.33) 0 lh(.66);
	position:relative;
	}
	
figure.quote blockquote:before,
figure.quote blockquote:after {
	color:$dark-blue;
	content: "\201C";
	display: inline;
	font-size:rem(36px);
	font-style:normal;
	}
	
figure.quote blockquote:after {
	content: "\201D";
	}

figure.quote figcaption {
	color:$bright-blue;
	display: block;
	font-family:$primary-font;
	font-size:rem(14px);
	font-style:normal;
	margin-top: lh(.33);
	}
	
figure.quote cite {
	font-family:$primary-font;
	font-style:normal;
	}	
 
figure.quote cite:before {
	content: "\2014 \2009";
	}
	
.quote--pull-left {
	@include respond-min($large) {
		float:left;
		margin-left:perc(-60,700);
		margin-right:lh(.66);
		width:46%;
		}
	}
	
.quote--pull-right {
	@include respond-min($large) {
		border-left: none;
		border-right: 8px solid $dark-blue;
		float:right;
		margin-right:perc(-60,700);
		margin-left:lh(.66);
		padding:0 lh(.66) 0 lh(.66);
		text-align:right;
		width:46%;
		}
		
	}

			
.bold {
	font-weight:bold;
	}
	
.italic {
	font-style:italic;
	}	
	
.uppercase {
	text-transform: uppercase;
	}
	
.letterspace {
	letter-spacing:rem(5px);
	}

.muted, 
a.muted,
.lister a.muted {
	color:$mid-grey-2;
	}
	

	